[2019-07-25 13:51] abachman opened #1 "Implement basic Devise model on User"
Don't need sign up, but should have password reset and account self-management.

[2019-07-25 13:53] abachman opened #2 "Implement user permissions"
boolean flags on a permissions record, user has_one.

[2019-07-25 14:10] abachman opened #3 "Build box request form"
Accept initial box request.

See https://www.voicesofconsent.org/survivor-box for current example and the page where it will be embedded.

This is a big high level ticket.

[2019-07-26 00:10] bolducp opened #4 "Box Design Form"
After a Box Request is Reviewed, someone will "design" the box by deciding what does in it.
It's essentially building the checklist for the Asembler of items that go in the Box.
Later we'll layer in CoreBoxItems so there's an autopopulatedr list, but to start, iterate over a short array of included items (e.g. [toothbrush, toothpaste, socks]), and an array of items that can be added (e.g. [lotion,

[2019-07-26 00:11] gabezurita opened #5 "Box Assembly (checklist) Form"

[2019-07-26 00:11] abachman opened #6 "Individual BoxRequest Form"
* Creates Requester (STI on Person)
* Creates BoxRequest
* Embeddable view

[2019-07-26 00:11] abudri opened #7 "BoxRequest Review Form (tags)"
Box Request and Requester data should display, along with the extra fields: tags, and summary

[2019-07-26 00:11] bolducp opened #8 "Resource Packet production support"

[2019-07-26 00:11] maebeale opened #9 "Message Log CRUD - tracking messages that have been sent"

[2019-07-26 00:11] gabezurita opened #10 "InventoryTally CRUD"

[2019-07-26 00:11] BtheGit opened #11 "Email notification message integration w BoxRequest workflow, incl “Already claimed” page"

[2019-07-26 00:12] RachelWyatt opened #12 "Requester CRUD"

[2019-07-26 00:12] abachman opened #13 "Checklist template Design Form"
CoreBoxItems index.

Follow pattern from BoxDesign Form.

CoreBoxItem == many-to-many AbuseType/InventoryType

[2019-07-26 00:12] abudri opened #14 "Volunteer CRUD"
Volunteers are who we will send solicit-help emails to, and assign Attendances to
Follow data model diagram for fields and relationships

[2019-07-26 00:12] rjisoo opened #15 "PermissionRecord (User has_one. And add delegate methods to User model?)"
PermissionRecord (User has_one. And add delegate methods to User model?)

[2019-07-26 00:12] mirandawang opened #16 "Update seeds.rb to include abuse_types and a user"

[2019-07-26 00:12] jgaskins opened #17 "Devise User Model"

[2019-07-26 00:12] jmdembe opened #18 "InventoryType CRUD"

[2019-07-26 00:12] RachelWyatt opened #19 "Shipping tracking API or link-building from Box Index"

[2019-07-26 00:12] BtheGit opened #20 "Box Builder checklist use creates InventoryAdjustments"

[2019-07-26 00:13] rjisoo opened #21 "Add "Next Phase" buttons to all stages of BoxRequest and Box Workflow"
State machine and buttons for BoxRequest and Box Workflow:

Notify next step -or- Continue buttons (Individual BoxRequest Form, BoxRequest Review Form, Box Design Form, Box Assembly (checklist) Form) - linking together box steps

[2019-07-26 00:13] jgaskins opened #22 "Email notification message integration w BoxRequest workflow, incl “Already claimed” page"

[2019-07-26 00:13] abachman opened #23 "SMS Message integration w BoxRequest workflow"
follow email pattern

[2019-07-26 00:13] mirandawang opened #24 "Location CRUD"

[2019-07-26 00:13] rjisoo opened #25 "MeetingType CRUD"
MeetingType CRUD

[2019-07-26 00:13] RachelWyatt opened #26 "Attendance CRUD"

[2019-07-26 00:13] jgaskins opened #27 "Box Builder checklist use creates InventoryAdjustments"

[2019-07-26 00:13] bransynluther opened #28 "AbuseType CRUD"

[2019-07-26 00:13] mirandawang opened #29 "Feedback"

[2019-07-26 00:14] bransynluther opened #30 "Purchase CRUD"

[2019-07-26 00:14] bransynluther opened #31 "Meeting CRUD"

[2019-07-26 00:15] jmdembe opened #32 "Distribution Partner BoxRequest Form"

[2019-07-26 11:22] maebeale commented on #3
@jgaskins is a great resource for this topic

[2019-07-26 11:25] maebeale commented on #3
Fields in data model should match what you see on the form, but some are shorthand. @abachman suggested using en.yml for full question text.

[2019-07-26 11:26] maebeale commented on #3
Please copy styling, font, etc from the organization's website.

[2019-07-26 11:27] maebeale commented on #3
Please check in w @jessbeach re suggested pagination

[2019-07-26 12:12] maebeale opened #34 "Embed the Box Request form in the organization's website"
Or, just check that you can embed it on an iframe on a page
@jgaskins is a great resource for this

[2019-07-26 12:13] maebeale commented on #34
Should be embeddable / iframe-able.
Research required: how does Squarespace do embeds?

[2019-07-26 12:16] maebeale commented on #3
Requires:
* Requester model/controller
* BoxRequest model/controller
Once you've added these, please update the team

[2019-07-26 12:18] maebeale commented on #5
Requires Box model/controller and BoxItem model/controller

[2019-07-26 12:32] #6 closed

[2019-07-26 12:39] maebeale commented on #7
Requires Box Request to have acts_as_taggable_on gem for storing data

[2019-07-26 12:53] maebeale opened #35 "Change BoxShipment workflow to match the other phases (e.g. BoxDesign, BoxAssembly)"
After Shipping a Box, the Shipper needs to log their Purchase and add shipping data to the Box
All of this should look like one form with relevant fields from Box and Purchase, and hidden field of purchase type

[2019-07-26 13:09] mirandawang commented on #22
Exists here:) https://github.com/rubyforgood/voices-of-consent/issues/11

[2019-07-26 13:09] #22 closed

[2019-07-26 14:14] bolducp opened #36 "BoxRequest CRUD"

[2019-07-26 15:04] bolducp commented on #36
https://github.com/rubyforgood/voices-of-consent/pull/37

[2019-07-26 15:05] bolducp commented on #12
ready for review: https://github.com/rubyforgood/voices-of-consent/pull/37

[2019-07-26 15:07] mirandawang opened #38 "Add acts as taggable gem"
We will use this for the BoxRequest model

[2019-07-26 15:26] gabezurita opened #39 "Skip generating assets when scaffolding by default"

[2019-07-26 15:31] #39 closed

[2019-07-26 15:50] abachman opened #45 "Make a demo React component and suggest a folder structure"

[2019-07-26 17:39] #12 closed

[2019-07-26 17:43] mirandawang opened #49 "Set up ActionMailer"
this will allow us to send emails!

[2019-07-26 17:49] mirandawang opened #50 "Add file uploads to models"
This may be useful! https://edgeguides.rubyonrails.org/active_storage_overview.html

[2019-07-26 18:37] h-m-m opened #55 "Redirects on pages requiring login"
When a volunteer follows a link that requires login and they are not logged in, they should be redirected to the login page. After successfully logging in, they should be redirected back to their login page.

As an example, if a volunteer hasn't logged in and tries to use a link to claim a specific box request, they should get the prompt to log in and then get redirected back to the claim for that

[2019-07-26 18:41] h-m-m opened #56 "Friendly access denied message pages"
When a volunteer is logged in and tries to access a page that requires specific permissions and the volunteer no longer has those permissions, we should display a friendly error message page.

We should probably start with a friendly, generic permission denied page for any logged-in volunteer with access denied. We can then tailor that page for specific categories of access and restriction if we w

[2019-07-26 18:48] #10 closed

[2019-07-26 18:56] gabezurita opened #57 "Generate models for BoxItem, CoreBoxItem, AbuseType"
Add relations for these as well

[2019-07-26 18:58] gabezurita commented on #50
models that need file upload:

- BoxItem
- CoreBoxItem
- InventoryTally
- Purchase (receipt_file_upload)

[2019-07-26 19:33] maebeale opened #61 "Add navbar buttons/styling"

[2019-07-26 19:36] maebeale opened #62 "Add simple_form, re-scaffold views that missed proper forms"

[2019-07-26 19:39] #14 closed

[2019-07-26 19:39] abachman commented on #14
PR #42

[2019-07-26 19:40] abachman commented on #25
closed by #46

[2019-07-26 19:40] #25 closed

[2019-07-26 19:41] #28 closed

[2019-07-26 19:41] abachman commented on #36
closed by #48

[2019-07-26 19:41] #36 closed

[2019-07-26 19:41] abachman commented on #31
closed by #51

[2019-07-26 19:41] #31 closed

[2019-07-26 19:42] maebeale opened #64 "Box CRUD"

[2019-07-26 19:47] #38 closed

[2019-07-26 19:51] mirandawang opened #66 "Create email for box request received"
Use Jess's exported email HTML and hook it up with Action Mailer for the Box Request received email which will be sent to a volunteer.

[2019-07-26 19:53] mirandawang opened #67 "Create email for box review completed / box design needed"
Use Jess's exported email HTML and hook it up with Action Mailer for the Box review completed / Box Design needed email which will be sent to a volunteer (Which will be a different Volunteer than the one who did the Box review).

[2019-07-26 19:53] mirandawang opened #68 "Create box design completed / box assembly needed email"
Use Jess's exported email HTML and hook it up with Action Mailer for the Box Design completed / Box assembly needed email which will be sent to a volunteer (Which will be a different Volunteer than the one who did the Box design).

[2019-07-26 19:54] #17 closed

[2019-07-26 19:54] mirandawang opened #69 "Create box assembly completed / box shipping needed email"
Use the designer's exported email HTML and hook it up with Action Mailer for the Box Assembly completed / Box shipping needed email which will be sent to a volunteer (Which will be a different Volunteer than the one who did the Box  Assembly).

[2019-07-26 19:56] mirandawang opened #70 "Create box shipping completed email"
Use the designers exported email HTML and hook it up with Action Mailer for the Box shipping completed email which will be sent to the Volunteer that did the box shipping.

Or maybe it should be sent to everyone? "The box is out! Thanks for pitching in!" cc/ @maebeale what do you think?

Also what would trigger this email? The volunteer hits a button on the site?
Probably this would trigger the em

[2019-07-26 20:03] #18 closed

[2019-07-26 20:08] gabezurita commented on #57
These are all active_storage dependent models. branching this off of:
https://github.com/rubyforgood/voices-of-consent/pull/71

[2019-07-26 20:21] #50 closed

[2019-07-26 21:19] gabezurita opened #75 "add file upload capabilities to the following models"
models that need file upload:

BoxItem
CoreBoxItem
InventoryTally
User
~Purchase (receipt_file_upload)~
Purchase receipt_file_upload being taken care of here: https://github.com/rubyforgood/voices-of-consent/pull/72/files#r307966910

ref:
https://edgeguides.rubyonrails.org/active_storage_overview.html

[2019-07-27 13:18] abachman opened #79 "Separate box request management from box request creation"
Keep only the new and create actions.

BoxRequests should be managed through the workflow and we're intending to separate the controllers for that by stage.

This task is just cleaning up the BoxRequestController and views.

[2019-07-27 13:20] #24 closed

[2019-07-27 13:30] gabezurita commented on #75
Branching off of #57

[2019-07-27 13:32] abachman opened #80 "Administrator should be able to create users"
Make sure someone can submit a box request anonymously.

[2019-07-27 14:15] #57 closed

[2019-07-27 14:18] #49 closed

[2019-07-27 14:27] rjisoo opened #82 "create InventoryAdjustment CRUD"
create InventoryAdjustment CRUD

[2019-07-27 14:27] rjisoo commented on #27
Dup #20

[2019-07-27 14:27] #27 closed

[2019-07-27 14:41] #1 closed

[2019-07-27 15:43] #75 closed

[2019-07-27 17:12] bolducp commented on #3
Initial UI added in PR https://github.com/rubyforgood/voices-of-consent/pull/94

[2019-07-27 17:42] #2 closed

[2019-07-27 17:51] rjisoo opened #100 "BoxRequestAbuseType Relation Table"

[2019-07-27 18:30] #66 closed

[2019-07-27 18:31] mirandawang opened #106 "Create methods on Box for workflow claiming"
Box:
* has_designer?
* has_assembler?
* has_shipper?

[2019-07-27 18:31] #9 closed

[2019-07-27 18:33] mirandawang opened #107 "Create models to allow easy editing of email templates"
It would be nice if we had a way to model the different email templates so that the contents of the email could be easily edited in a UI.

We would want the fields to be:
* Email Subject
* Hero image
* Title text
* Body text

And anything else you think would be good :)

Then pass those values in as template variable when rendering the Email HTML erb files.

For example,
there could be a model cal

[2019-07-27 18:34] #82 closed

[2019-07-27 18:34] mirandawang opened #108 "Create "Already Claimed" page"
Instead of rendering the next step in the Workflow, render an Already Claimed page if that step in the workflow has already assigned a reviewer, designer, assembler, or shipper.

(Depends on #106)

[2019-07-27 18:51] mirandawang opened #111 "Add relationship between BoxRequst & Reviewer"
Box Request model needs to have a one to one relationship with User, under the alias `reviewed_by`

We can take a look at Box model and how `designed_by` `shipped_by` and `assembled_by` are set up.

Let's also add a new method on the BoxRequest model called `has_reviewer?` which will either return true or false if the reviewed_by field is null or not. (True for not null, False for null)

[2019-07-27 20:14] #106 closed

[2019-07-27 22:09] #100 closed

[2019-07-27 23:17] #80 closed

[2019-07-27 23:28] #26 closed

[2019-07-27 23:29] #4 closed

[2019-07-28 01:34] maebeale commented on #3
@bolducp hey! on the form, may we add "ok_to_email" under email and "ok_to_mail" the same way you added those to the phone field?

also, for all of these would you default them to "Yes" (then we'll have data even if they skip over the answer) or, make them required fields?

[2019-07-28 02:26] maebeale opened #130 "Add additional question to BoxRequest Form re if not self"
* Need to add a text field asking for name/relationship to survivor if filling out on someone else's behalf

[2019-07-28 12:15] #108 closed

[2019-07-28 14:30] abachman opened #133 "box design `mark_as_designed` should take box id param"
needs to be more limited than just designed_by

[2019-07-28 14:35] #61 closed

[2019-07-28 15:38] gabezurita opened #141 "Style CSS and improve user experience of Box Request Review"
Pre-cursor PR here:
https://github.com/rubyforgood/voices-of-consent/pull/140

[2019-07-28 15:40] bransynluther opened #143 "Authenticate users for most controllers"
Lets make sure that we authenticate users for most controllers.
The Make request functionality should not be authenticated!

[2019-07-28 15:42] abachman opened #144 "Adjust clickable area for Abuse type labels on requesters/new"
looks like the toggle behavior for the abuse type labels only toggle the first checkbox

[2019-07-28 16:03] bransynluther opened #147 "Sign in error messages"
Currently there are no error messages being displayed if a user attempts to sign in with an incorrect password, or email.

### Note
Devise has some styles and messages that already exist and were generated, this could make things extremely easy.

[2019-07-28 16:15] #111 closed

[2019-07-28 16:16] #55 closed

[2019-07-28 16:16] #143 closed

[2019-08-03 00:08] MxOliver commented on #144
Hey, I'd love to work on this if it's still open

[2019-08-05 02:06] MxOliver commented on #144
@abachman Can you post the route for the page with these checkboxes? I tried /box_request_abuse_types and /box_request_abuse_types/new and /box_request and /box_request/new but all I see are text fields

[2019-08-06 23:24] abachman commented on #144
hey @MxOliver, welcome!

yeah, the routing in the app right now is kind of chaotic, we did a **big** one weekend push to stub out a bunch of stuff, and will be refining as we go.

At the moment, the form you're looking for is at `/requesters/new`.

[2019-08-06 23:48] maebeale opened #150 "Improve styling of navbar"
We'd like to make the navbar look like the photo below (there will be more icons added later, so there should be room for those)
- needs text at bottom
- logo should be fixed at left
- add padding and/or shrink icons
- add user info (w default icon if no photo) per design

![Nav bar only- VOC](https://user-images.githubusercontent.com/7607813/62584551-286d7780-b883-11e9-9f7e-ec210a84cb9c.jpg)

[2019-08-06 23:53] abachman commented on #64
Do we still need this with the other box management routes (eventually) handling the various box related tasks?

[2019-08-07 00:00] maebeale opened #151 "Change styling of yes/no radio buttons on requesters/new form"
- they're not lining up horizontally

![Screen Shot 2019-08-06 at 7 59 01 PM](https://user-images.githubusercontent.com/7607813/62584978-cb72c100-b884-11e9-9a34-ca07e1d0b788.png)

[2019-08-07 00:02] maebeale opened #152 "Add pagination to the requesters/new form"
Right now it's a long form that we think would be more palatable if it were broken up between some pages with some sort of completion bar at the bottom

[2019-08-07 00:06] maebeale opened #153 "Change text: abuse type question on requesters/new"
Since it's more than one type, changing from `Type of abuse you have faced` to `Type(s) of abuse you have faced`

[2019-08-07 00:17] maebeale opened #155 "Add bootstrap table styling to MessageLog index"

[2019-08-07 00:19] maebeale opened #156 "Change MessageLog form to be a dropdown"
It's polymorphic, so if new, assume the messagable_type is a Person
Otherwise, hide the polymorphic type and change the id field to a dropdown

[2019-08-07 00:21] abachman commented on #64
oop, just saw the `boxes_controller` etc., going to mark this done

[2019-08-07 00:21] #64 closed

[2019-08-07 00:21] maebeale opened #157 "Make ok_to_call and ok_to_text required ONLY if a phone number is entered on requesters/new"

[2019-08-07 00:21] #45 closed

[2019-08-07 00:23] abachman opened #158 "Create bare styled layout for login"
Plain old login form, use the cool textured background but don't include any non-authenticated elements.

This will probably involve some digging into Devise and figuring out where the appropriate controller and view are.

[2019-08-07 00:25] abachman commented on #30
i see `resources :purchases` in config/routes. Looks like done to me 👍

[2019-08-07 00:25] #30 closed

[2019-08-07 00:30] abachman commented on #29
Details:

We'd like two different simple feedback forms that could be used by the organization to solicit feedback from:

1. people who've requested boxes
2. volunteers who are involved in the organization.

Feedback would be visible to highest level administrators only.

[2019-08-07 00:47] maebeale opened #159 "Make navbar icons actual links"
- home should go to root_path

- the icon buttons should all go to box_requests_path, but with varying filters already applied

- status icon should go to box_requests_path
- review icon should go to box_requests_path for box_requests that don't have any associated boxes (needs a scope on box_request model) and reviewed_by_id is EITHER current_user.id or nil
- design icon should go to box_requests

[2019-08-07 00:48] maebeale opened #160 "Implement/change "sort this list" on box_requests_path"
- Change text to "Filter"
- Select the various links (dependent on navbar links issue, #159  )

![Box Status overview](https://user-images.githubusercontent.com/7607813/62586428-987ffb80-b88b-11e9-8e9a-73eaa552ac3f.jpg)

[2019-08-07 00:51] maebeale opened #161 "Footer is displaying in the middle of /box_requests index"
- change footer ("copyright ... ") so it's always at the bottom

![Screen Shot 2019-08-06 at 8 51 24 PM](https://user-images.githubusercontent.com/7607813/62586528-0d533580-b88c-11e9-8789-ac808044a87d.png)

[2019-08-07 01:10] abachman opened #162 "Add Thank You page to the box request form"
After the box request form is submitted, show a "Thank you for your request." screen.

This will be a part of the `app/javascripts/src/components/box-request-form` component.

_Probably_ don't need to involve react-router, but can if it makes sense.

[2019-08-07 01:11] abachman opened #163 "Send the box request received email when new box request is created."
This email will be sent from BoxRequestTriageController after a box request has been successfully created.

It should be sent to every user in the system who has "can review box requests" permission.

[2019-08-07 01:17] maebeale opened #164 "Add "claim" button to next-available stage on /box_requests"
- User should be able to view this page and see `claim` buttons when that's available (they have the relevant permission, so can see that column, and no one else has claimed it yet)
- If they have superadmin permissions, should see names of claimers, otherwise it should have an icon or the word `claimed`
- When a claimed task is completed, it should change the background color of the box

- a box_

[2019-08-07 01:37] abachman commented on #130
looks like it was added!

[2019-08-07 01:37] #130 closed

[2019-08-07 01:50] maebeale opened #166 "Remove `inventory_adjustment_id` from box_items table"
(InventoryAdjustment belongs_to :box_item, so the field isn't needed on box_items table)
- Remove it from any views, strong params, etc, too

[2019-08-07 01:54] maebeale opened #167 "Get tests green again"

[2019-08-07 01:58] maebeale opened #168 "Location 'type' needs to be renamed if using enums vs traditional STI"
Rename the db column and enum to `location_type` ?

[2019-08-07 02:11] maebeale opened #169 "Remove not null constraint from BoxItem for researched_by_id"
- There are box_items that don't have a researcher, so this should be `null: true`

[2019-08-07 03:51] maebeale commented on #163
And for every email sent, a MessageLog should be created w `messageable_type == 'BoxRequest'` and `messageable_id == @box_request.id`

[2019-08-07 03:52] maebeale opened #170 "Add missing foreign keys"

[2019-08-07 03:54] maebeale commented on #79
I believe we still need edit/update, bc the Reviewer is actually updating the BoxRequest, not the Box yet.

[2019-08-07 04:29] maebeale commented on #141
Ideally using Materialize chips (or the same functionality):
https://materializecss.com/chips.html

For reference: https://stackoverflow.com/questions/53839487/using-materialize-chip-and-autocomplete-in-ruby-on-rails-form-with-associate

we can prepopulate the tag list with existing tags, but need to set something along the lines of:
`@tags_json = [{"name" => "testing"}, {"name" => "12344"}].to_js

[2019-08-07 05:18] maebeale commented on #141
![Screen Shot 2019-08-07 at 1 18 06 AM](https://user-images.githubusercontent.com/7607813/62596698-48b42b00-b8b1-11e9-924e-5b6db16aeebf.png)

[2019-08-07 05:19] maebeale commented on #141
![Screen Shot 2019-08-07 at 1 19 42 AM](https://user-images.githubusercontent.com/7607813/62596735-78633300-b8b1-11e9-878a-87547b53a99d.png)

[2019-08-08 21:09] maebeale opened #172 "Add state machine methods to determine current and next stages"
BoxRequests go through the following stages:

- `requested` when `box_request.reviewed_by_id == nil`
- `review_in_progress` when `box_request.reviewed_by_id != nil`
- `reviewed` when `box_request.reviewed_at != nil`
- `design_in_progress` when `box.designed_by_id != nil  && box.designed_at == nil`
- `designed` when `box.designed_at != nil && box.assembled_by_id == nil`
- `assembly_in_progress` whe

[2019-08-08 21:12] #7 closed

[2019-08-08 21:16] #3 closed

[2019-08-08 21:18] maebeale opened #173 "Adjust contact consent radio buttons on BoxRequest form"
add "ok_to_email" under email and "ok_to_mail" the same way as the phone field radio buttons

also, for all of these radio buttons, make sure all of them are required fields

[2019-08-08 22:24] maebeale opened #176 "MessageLog needs more fields"
MessageLog needs:

- `subject_line` so we can better log messages sent out
- `message_type` so we can track when follow-up stage is completed (Type examples include: followup_email)
- `message_channel` (e.g. `autoemail, email, text, call, mail`)

Please find where we are creating MessageLogs and update those to populate the fields above.

[2019-08-08 23:13] maebeale opened #177 "BoxRequest form should redirect to thank you page"
Dependent on #162

[2019-08-10 13:38] MxOliver commented on #144
I think this issue might have resolved itself? I am having trouble replicating it. All the checkboxes are toggling

[2019-08-11 16:59] conj40 commented on #161
Hi, has this been resolved? I have just tested on my local machine and cannot reproduce

[2019-08-11 17:06] maebeale commented on #161
hello there, @Chub93! it hasn't been resolved. it might require creating a bunch of box_request seeds to see it?

[2019-08-11 17:42] conj40 commented on #161
Ah yes, I am able to reproduce now, thank you! I will get this fixed for you.

[2019-08-12 00:34] MxOliver commented on #173
I'd like to work on this

[2019-08-12 00:35] maebeale commented on #173
Great! Thank you!

[2019-08-13 20:42] #161 closed

[2019-08-13 23:18] maebeale opened #191 "Add validations to requesters/new form"
- We want to validate format of a few fields on the box_request for (requesters/new)
Fields:
- Email
- Phone
- Anything else we're not noticing?

[2019-08-14 00:23] abachman commented on #150
![image](https://user-images.githubusercontent.com/13002/62986045-e48cec00-be07-11e9-9ac4-3794c80f9180.png)

Probably about as close as I can get.

[2019-08-14 00:24] #153 closed

[2019-08-14 00:39] abachman commented on #150
PR #165 is ready to go.

[2019-08-14 01:01] #151 closed

[2019-08-17 14:53] MxOliver commented on #173
I think this is already done?

[2019-08-17 15:06] MxOliver commented on #176
Submitting a PR with these new migrations now

[2019-08-17 18:51] MxOliver commented on #167
Was looking into this, and from what I can tell all failing controller tests have the same issue in common which is the valid_session on get new. I don't know much about using session in rspec but it seems in every test on the /new route, it's being redirected to user/sign_in and authentication is failing.

It's line 61 in pretty much ever controller test except box_assembly_controller_spec which

[2019-08-18 00:00] MxOliver commented on #191
Submitted a PR for this

[2019-08-18 22:35] #157 closed

[2019-08-20 00:27] #177 closed

[2019-08-20 00:28] #162 closed

[2019-08-21 00:56] bolducp commented on #152
Open PR that implements this: https://github.com/rubyforgood/voices-of-consent/pull/198

[2019-08-28 03:24] katestud commented on #167
👋 Hi there! First time contributor here. This issue seemed like a good place to start getting familiar with the codebase, so I started taking a whack at this and got pretty far. I'd be happy to open a PR in the next day or two that addresses most failing test cases if it's helpful, but I don't want to step on anyone's toes.

[2019-08-28 10:56] maebeale commented on #167
👋 Hi, @katestud! So glad to have your help!!!

@bransynluther is assigned to this and has been working on it as well (as have I). We've been working in the `fix-more-tests` branch, where it'd be awesome to merge your work. I'd planned to be working on this tonight actually. No toes here -- especially on this branch. We're really wanting to get our tests working again so others can onboard easily a

[2019-08-28 10:58] bransynluther commented on #167
Rodger that!

On Wed, Aug 28, 2019, 6:56 AM maebeale <notifications@github.com> wrote:

[2019-08-28 23:29] katestud commented on #167
Woo! I've got a branch in progress here: https://github.com/katestud/voices-of-consent/tree/fix-more-tests. I had to make some adjustments since the base was a bit different from the `develop` branch I was originally working off of, but I can open a PR against the `fix-more-tests` branch with what I have if it would be helpful! ❤️

[2019-08-28 23:31] maebeale commented on #167
Hey! Sorry about that. Yes! That'd be amazing!!! Thank you!

On Wed, Aug 28, 2019, 7:29 PM Kate Studwell <notifications@github.com>
wrote:

[2019-08-29 12:40] #147 closed

[2019-08-29 12:41] #191 closed

[2019-08-29 12:42] #176 closed

[2019-08-31 16:58] MxOliver commented on #172
Can I work on this?

[2019-08-31 18:20] maebeale commented on #172
@MxOliver hey! i've got some code written for it. will assign myself for now, and can push what i have by tomorrow (in meetings all afternoon/evening today). does that mess up your plans for today?

[2019-08-31 22:16] MxOliver commented on #172
No that works out, I worked on it earlier but I'm not planning on pushing anything today so just let me know when you merge and I'll just pull in your changes into my local branch and keep going

[2019-08-31 22:34] maebeale commented on #172
i doubt whatever i had will be conflicting. my vote is for you to press on! sounds like you've got it well underway based on the questions, so, that's awesome! :)

[2019-09-02 22:15] MxOliver commented on #172
I added migrations with the missing fields (designed_at, etc) should i make a separate PR for that or keep them together? (my thought is to keep them together because the state machines won't work without them because of the guards set up)

[2019-09-07 15:51] jenpen commented on #173
I believe this was closed by https://github.com/rubyforgood/voices-of-consent/pull/198

[2019-09-07 15:51] #173 closed

[2019-09-14 20:59] MxOliver commented on #158
I'd like to work on this if it's available

[2019-10-02 23:15] #172 closed

[2019-10-02 23:31] #158 closed

[2019-10-05 14:32] smoline commented on #156
I would like to work on this one.

[2019-10-05 14:56] MxOliver commented on #159
I'll take this

[2019-10-05 15:00] maebeale commented on #159
awesome, @MxOliver ! i've got one related commit that might help too. will push now.

[2019-10-05 15:12] #160 closed

[2019-10-05 15:13] maebeale commented on #159
@MxOliver Updated! #160 created the groundwork for you to have places for those icons to link to!
https://github.com/rubyforgood/voices-of-consent/pull/207. I think the rest of the aasm work you did handles the conditions above?

[2019-10-05 15:20] MxOliver commented on #159
The aasm should handle all those concerns, if the condition doesn't pass where should I route the icon to? Like for the review icon, if the box does have an associated box what path should it go?

[2019-10-05 15:22] #169 closed

[2019-10-05 15:23] #168 closed

[2019-10-05 15:31] maebeale opened #209 "Add new phase of Box production -- Research"
Voices of Consent compiles resource materials specific to each person's BoxRequest data. This often requires referencing many websites, copy/pasting info into documents, adding some images/styling to make it prettier, and then saving the result as a PDF. We'd love to support/assist with that process later on, and this is the initial groundwork to add Research as a phase of Box production. Technica

[2019-10-05 15:32] maebeale commented on #209
@MxOliver is there any chance you might be interested in this issue bc of its ties in to aasm? the above is a suggested approach -- happy to talk more about best implementation if you were interested in taking this on and/or splitting it up into back end and front end issues.

[2019-10-05 15:38] maebeale commented on #144
@MxOliver so, the checkboxes themselves seem to work fine, but clicking the text to the right only works for the first item, so that's why it was originally reported. So, maybe the update on this is that all the words should be included in the clickable area of the checkboxes?

Also, I noticed a separate issue w the All of the Above: When checked it should check-all and remove-all the other checkm

[2019-10-05 15:41] maebeale opened #210 ""All of the Above" should auto-check or uncheck the other items on Requesters/new form"
When creating a BoxRequest (requesters/new), there's an "All of the Above" checkbox under Abuse Types.

- When checked, it should check-all the other checkmarks
- When unchecked, it should  remove-all the other checkmarks
- We should make sure this doesn't affect the payload for form creation

[2019-10-05 16:22] maebeale commented on #159
TOTALLY open to your suggestions here. I'm thinking that the Review link
should go to:
box_requests?filter_by=review_in_progress&reviewer_id=current_user.id

So, the Review button is really taking you to "My Reviews in Progress".

For the above, we'd need to add reviewer_id as a param/scope on BoxRequest
model and implement in the controller.

Also, the Review link should only be available to user

[2019-10-05 16:23] maebeale opened #212 "Box design should be for a particular box"
Right now http://localhost:3000/box_design/new seems to be a design for the last box the user was assigned to, but it probably should require a box_id url param so we can mark the relevant box as designed.

[2019-10-05 16:26] maebeale opened #213 "Improve Box Design UI by adding type-ahead and/or reference list of InventoryTypes"
- Right now the user needs to remember the Inventory Types and search
- A type-ahead here showing all Inventory Types could be a HUGE help
- Bonus if the list is only showing types not already associated to this Box, and the list updates itself after any item is selected
- We like being able to add any item here that's not already an inventory item, but do want to be drawing from the Inventory Typ

[2019-10-05 16:57] maebeale commented on #156
Great, @smoline !

[2019-10-05 19:21] RachelWyatt commented on #155
@maebeale submitted a pull request for your review to resolve this issue. It isn't beautiful but it should at least be readable now.

[2019-10-05 19:38] maebeale opened #217 "User can decline box request review"
User can decline box request review (via email button)
- Add array field to db for logging review_declined_by_ids
- Add endpoint for declining review
- Display as (Declined on box_requests index, if applicable)

[2019-10-05 19:39] maebeale opened #218 "Add link_generator method for use in emails"
Added heroku_link method
- Determines if prod or staging, and generates the heroku url accordingly
- If dev, return a local link

[2019-10-05 19:51] #11 closed

[2019-10-05 19:51] #217 closed

[2019-10-05 19:51] #218 closed

[2019-10-05 20:26] maebeale opened #220 "Auto populate box_request.tag_list based on incoming form data"
Update box_request_triage_controller to populate tag_list based on form responses
- For abuse_types, if "All of the Above" is selected, tag all abuse types that were on the form
      - even if user didn't select all abuse types
      - preserve User's original abuse type responses via association box_request_abuse_types
- Add relevant tags re age, safety, and resource interests
- Admin user will

[2019-10-05 20:27] #220 closed

[2019-10-05 20:37] #155 closed

[2019-10-05 20:43] maebeale commented on #141
Please use this draft PR/branch:
https://github.com/rubyforgood/voices-of-consent/pull/182

Would LOVE help on this!

[2019-10-05 21:16] maebeale commented on #11
After a BoxRequest is created, an email is sent asking for a Reviewer to "Claim/review" the Box Request.
If one person claims the review, the second person's email link should take them to the "Already Claimed" page

[2019-10-05 21:52] maebeale opened #224 "Improve BoxRequest Review (box_requests/:id/edit) UI"
- The white background isn't expanding based on the column content
- This issue can be recreated by filling out a new form via `/requesters/new` and add multiple paragraphs for the text fields, and then going to that BoxRequest's Edit route

[2019-10-05 21:54] skrishna243 commented on #224
Can you please assign this to me?

[2019-10-05 22:00] maebeale commented on #224
It's yours! Thank you!

[2019-10-06 05:14] maebeale commented on #13
Step 1: UI
- By associating AbuseTypes with InventoryTypes here, Admins can adjust which BoxItems will be added by default at the BoxDesign phase.

Step 2: Implementation
- Add method to aasm state design_in_progress (in Box) to auto-create relevant BoxItems per associated AbuseTypes (found in Box#tag_list)

[2019-10-06 05:24] maebeale commented on #19
- On BoxRequests index, add a label under Shipped column to indicate Shipping status
- Look up the box status by connecting to the USPS API (using the `box#shipment_tracking_number`, we should be able to get a response back re packaging tracking status)

[2019-10-06 05:29] maebeale commented on #20
Box Assembly (completing the checklist of associated BoxItems to confirm they were packed in the Box) should adjust the InventoryTally for the location of the AssembledBy volunteer.

For example:
- Mark "Toothbrush" as included in the Box on BoxAssembly page
- Determine the volunteer's Assembly Location (will need to add assembly_location_id foreign_key to the database)
- Controller creates an Inv

[2019-10-06 05:33] maebeale commented on #168
This was already completed.

[2019-10-06 05:34] #79 closed

[2019-10-06 05:35] maebeale commented on #107
(@mirandawang here's another issue re email templates)

[2019-10-06 05:37] maebeale commented on #152
Completed. Thanks @bolducp !

[2019-10-06 05:37] #152 closed

[2019-10-06 05:40] maebeale commented on #163
(another email template-related issue, @mirandawang )

[2019-10-06 05:43] maebeale commented on #212
Duplicate issue.

[2019-10-06 05:43] #212 closed

[2019-10-06 05:44] maebeale commented on #133
Right now http://localhost:3000/box_design/new seems to be a design for the last box the user was assigned to, but it probably should require a box_id url param so we can mark the relevant box as designed (e.g. /boxes/:box_id/design)

[2019-10-06 05:54] maebeale commented on #23
When BoxRequest comes in, send email --AND-- SMS to volunteers who have permission to perform BoxReview and provided a cell phone number with "ok_to_text" selected.

- We have a SendGrid/Twilio account set up already
- MessageLogs would need to be generated to log all auto-texting

(Then follow this Claim/Decline email pattern for all phases: BoxReview, BoxDesign, (BoxItemResearch), BoxAssembly, B

[2019-10-06 06:00] maebeale commented on #29
- For Volunteer Feedback Form, User should be logged in (but great if login can be optional and the Feedback can therefore be anonymous)
- Need to add a text box to the form, and have it save to a Feedback table so people can comment on various aspects of the organization
- Add a hard-coded category dropdown with the following:
  - New BoxRequest form
  - BoxRequest Review phase
  - Box Design pha

[2019-10-06 09:39] MxOliver commented on #144
Ohh I see, okay I'm on it

[2019-10-06 09:45] MxOliver commented on #209
Yes I can absolutely work on this, I'll ping you on slack when I get started to talk about implementation details

[2019-10-06 11:48] AlexAvlonitis commented on #166
Hi, can i get this one?

[2019-10-06 12:04] maebeale commented on #166
Sure can! Thanks, @AlexAvlonitis

[2019-10-06 12:04] maebeale commented on #209
Yay! Thank you!

[2019-10-06 12:44] AlexAvlonitis commented on #166
I think this has been done before: https://github.com/rubyforgood/voices-of-consent/blob/develop/db/migrate/20190807023956_change_box_item_inventory_adjustment_to_item_type.rb

Also can't seem to find box_item -> inventory_adjustment references anywhere, only the other way around (inventory_adjustment -> box_item

[2019-10-06 13:09] RachelWyatt commented on #56
I'll work on this one today.

[2019-10-06 19:22] #70 closed

[2019-10-06 19:22] #69 closed

[2019-10-06 19:22] #68 closed

[2019-10-06 19:22] #67 closed

[2019-10-06 19:26] mirandawang opened #229 "Create template & view for volunteer declines"
In the email workflow, volunteers will be asked to either accept or decline a request (i.e. review, design, assembly, shipping). If they decline, let's send them to a thank you page!

This issue will require:
1) New template + view + route for the thank you page
2) A link in each of the email templates to the new page

-- Needs Design + Content --

[2019-10-06 19:31] mirandawang opened #230 "Create mailer action + routes for the Box Design needed email"
When a Box has been reviewed and approved, it will need to move on to the next step which is Box Design

This issue includes:
* Creating the mailer action that will find the Volunteers that have permission (using the pundit policies) to design boxes and send a Box Design needed email
* Add routes to the Box Design needed template for the Accept & Decline buttons.
* Accept button should check if th

[2019-10-06 19:33] mirandawang opened #231 "Send Box Assembly needed email when Box has been designed"
When a Box has been designed, it will need to move on to the next step which is Box Assembly

This issue includes:
* Creating the mailer action that will find the Volunteers that have permission (using the pundit policies) to assemble boxes and send a Box Assembly needed email (via ActionMailer)
* Trigger that sends email when the Box Design step is completed
* for every email sent, a MessageLog s

[2019-10-06 19:33] mirandawang opened #232 "Send Box Shipping needed email when Box has been assembled"
When a Box has been assembled, it will need to move on to the next step which is Box Shipping

This issue includes:
* Creating the mailer action that will find the Volunteers that have permission (using the pundit policies) to ship boxes and send a Box Shipping needed email (via ActionMailer)
* Trigger that sends email when the Box assembly step is completed
* for every email sent, a MessageLog sh

[2019-10-06 19:37] mirandawang opened #233 "Add actions + routes for Accept/Decline buttons in Box Design Needed meail"
The Box Design email template exists, but the Accept & decline buttons don't lead anywhere yet.

This issue includes:
* Add routes to the Box Design needed template for the Accept & Decline buttons.
* Accept button should check if the step has been already claimed. If it has not, mark it as claimed and display the Box Design template. If it has, display the already claimed template.
* Decline butt

[2019-10-06 19:38] mirandawang opened #234 "Add actions + routes for Accept/Decline buttons in Box Assembly needed email"
The Box Assembly needed email template exists, but the Accept & decline buttons don't lead anywhere yet.

This issue includes:
* Add routes to the Box Assembly needed email template for the Accept & Decline buttons.
* Accept button should check if the step has been already claimed. If it has not, mark it as claimed and display the Box Assembly template. If it has, display the already claimed templ

[2019-10-06 19:40] mirandawang opened #235 "Add actions + routes for Accept/Decline buttons in Box Shipping needed email"
The Box Shipping needed email template exists, but the Accept & decline buttons don't lead anywhere yet.

This issue includes:
* Add routes to the Box Shipping needed email template for the Accept & Decline buttons.
* Accept button should check if the step has been already claimed. If it has not, mark it as claimed and display the Box Shipping template. If it has, display the already claimed templ

[2019-10-06 22:24] MxOliver commented on #159
I am struggling with this one, my erb template skills are lacking especially for path filtering. If someone with more erb experience would like to pair with me on this I'd be happy to help, or I can also just release it back into the wild to be claimed by someone else

[2019-10-07 10:33] #167 closed

[2019-10-07 21:50] #210 closed

[2019-10-07 23:01] #224 closed

[2019-10-08 15:10] #144 closed

[2019-10-08 15:21] maebeale opened #238 "Replace hard-coded abuse types on the form"
In our public-facing form (app/javascript/src/components/box-request-form), we're hard-coding abuse types:
- We'd like to replace the hard-coded list in the form with a call to the data in the abuse_types table so users can add abuse types to the form without calling a developer.

[2019-10-08 15:24] maebeale opened #239 "Add link to README.rb to CONTRIBUTING.rb"
Add link to: https://github.com/rubyforgood/voices-of-consent/blob/develop/CONTRIBUTING.md on the README

[2019-10-08 15:30] maebeale opened #240 "Update Devise to handle GitHub alert re gem vulnerabilities"
https://github.com/rubyforgood/voices-of-consent/network/alerts

[2019-10-08 15:31] maebeale opened #241 "Style buttons on /box_requests index"
"Claim review" should have a button border around it (and have some hover background color change), but for some reason the styling is getting overwritten.

[2019-10-08 15:36] maebeale opened #242 "Change button text on BoxRequest form"
Add text to the submit button on BoxRequest form.

Instead of the default, we'd like it to say: "Complete Box Review" so it's more clear that BoxRequest create completes one of the Box lifecycle phases.

[2019-10-08 15:39] abhushanaj commented on #239
Can I do this? I am learning Open Source and I guess I can do this succesfully.

[2019-10-08 15:41] shaunakpp commented on #239
Hi @maebeale, I just noticed this issue while browsing for Hacktoberfest issues, and sent a pull-request. Thank you for opening up voices-of-consent for Hacktoberfest! Happy hacking!

[2019-10-08 15:48] FriendBesto commented on #239
heh, oops... guess we both had the same idea

[2019-10-08 15:51] shaunakpp commented on #242
Hi @maebeale, Is it okay if I pick this up?

[2019-10-08 18:57] maebeale commented on #242
Sure is, @shaunakpp ! Please make sure to check if there's a test that relies on the button text (I don't think there is, and if there's not, would you be willing to add one as part of the PR?).

[2019-10-08 18:58] #239 closed

[2019-10-08 19:18] maebeale opened #246 "Disable "Send me a Survivor Box" button after click"
- disable the button after click
- if the form errors -- reengage the button so they can make their fixes and resubmit

[2019-10-08 19:19] maebeale opened #247 "Change /message_logs index record order"
- Change /message_logs index records to order by created_at: :desc

[2019-10-08 19:27] maebeale opened #248 "Change content column of /message_logs to truncate after first 25 chars"
We only want to display the first 25 chars of the content for each message log.

[2019-10-08 19:33] humaidkidwai commented on #247
which file has to be changed?

[2019-10-08 19:35] maebeale commented on #247
@atjustbeinghumaid the MessageLogsController

[2019-10-08 19:44] LittleBigProgramming commented on #248
Hey :) I would like to be assigned to this, please.

[2019-10-08 20:20] maebeale opened #249 "Delete actions from /message_logs index"
Remove Edit and Delete from /message_logs index.html.erb
(for the most part, people will only be viewing logs)

[2019-10-08 23:18] maebeale opened #251 "Add pagination to message_logs"
Use will_paginate gem

[2019-10-08 23:50] z3ugma commented on #251
I'm working on a PR for this!

[2019-10-09 02:08] chr1shung commented on #249
Hi I'm working on this

[2019-10-09 02:14] maebeale commented on #249
Thank you, @hahattan !

[2019-10-09 02:32] maebeale commented on #209
@MxOliver  I'm working through lifecycle implementation for the current actions in the controllers and UI, but it hasn't impacted the current aasm stuff much. Just wanted to send a head's up.

[2019-10-09 02:33] #249 closed

[2019-10-09 04:22] z3ugma commented on #247
Claiming this if it's open

[2019-10-09 19:26] gkpacker commented on #238
I'd like to work on this issue!

[2019-10-09 21:12] maebeale commented on #238
Thanks, @gkpacker !

[2019-10-09 21:15] #247 closed

[2019-10-09 21:15] #251 closed

[2019-10-09 21:15] gkpacker commented on #238
Where can i make a feature spec for it?

[2019-10-09 21:19] maebeale commented on #238
@gkpacker we don't have any feature specs yet, so this is very exciting (and relieving!)!
we *do* have capybara installed already, and we are using rspec. if you would create a new dir `features` under `spec` and put the file in there, that'd be perfect.

[2019-10-09 21:20] gkpacker commented on #238
Ok, thanks! I'll open the PR soon

[2019-10-10 14:02] smoline commented on #246
I would like to work on this one.

[2019-10-10 14:13] #150 closed

[2019-10-10 14:18] maebeale opened #257 "Change styling of user button in nav"
- add user info (w default icon if no photo) per design
- we'd like it to match the following design

![navbar](https://user-images.githubusercontent.com/7607813/66577397-4e471f00-eb47-11e9-9fd3-902b705699ba.jpg)

[2019-10-10 14:22] maebeale commented on #166
@AlexAvlonitis you're right! thank you!

[2019-10-10 14:22] #166 closed

[2019-10-10 14:35] maebeale opened #258 "Add Sendable polymorphic association to MessageLog"
- `sent_to` needs to be polymorphic so `MessageLog` reflects messages sent to either a Volunteer (via User) -OR- a Requester.
- I think it's ok to expose User names (via def name), but for the Requester, we prob should add a def name that's the request date and city, rather than show their name in the dropdown.

Thank you for helping us build in sensitivity to people's privacy! Incredibly importan

[2019-10-10 14:37] smoline commented on #258
I would like to work on this one!

[2019-10-10 14:38] maebeale opened #259 "Improve documentation: add link from README to background.md"
- Instead of just referencing the notes folder under the Background section, change that to link to background.md

[2019-10-10 14:41] smoline commented on #259
I would like to work on this one.

[2019-10-10 14:44] z3ugma commented on #241
I can look at this one

[2019-10-10 14:44] maebeale opened #260 "Improve documentation: add links to database-diagram"
- Add note under Background section that mentions we have a graphviz database-diagram, so people can reference the photo (add link to png below) or visit `http://graphviz.it/` and paste the code from the .dot file to see it in the browser (and generate new versions of .png or .dot as needed). Might want to add a note that you need to delete the code that's in the website first and then paste over

[2019-10-10 15:05] maebeale opened #261 "Create seeds_dev.rb file with development seeds"
- Create a `seeds_dev.rb` file that creates fake data (using the Faker gem we have installed) for all tables (or even most of them -- or any!)
- Add running this file to the dev:setup rake task

[2019-10-10 15:12] z3ugma commented on #261
I can take this one on as well

[2019-10-10 15:13] smoline commented on #260
I would like to work on this one.

[2019-10-10 15:15] #241 closed

[2019-10-10 15:27] maebeale commented on #35
Each phase of a Box (e.g. design, assembly) will have two states, `claim` and completed (e.g. `designed`, `assembled`, `shipped`), so people can accept the responsibility of completing the task separately from actually completing it.

The `aasm` state machine already supports this, so this Issue is mostly re changing the view code.

- We want to move the code currently in `claim.html.erb` (which a

[2019-10-10 15:32] maebeale opened #263 "Add UI for receipt_file_uploads via ActiveStorage to Purchase"
- we have the database and model set up, but no UI on Purchase form yet

[2019-10-10 15:40] maebeale opened #264 "Add CoreBoxItem builder UI (via React)"
- Each `AbuseType` has "`CoreBoxItems`", or, `InventoryTypes` that should be added to `Boxes` by default (once we create a Box)
- We want to have a CoreBoxItem builder that is basically the same as `BoxDesign` -- where we're adding `InventoryTypes` to a list, but the underlying data created is different
- Instead of adding `BoxItems` (`InventoryTypes`) to a `Box`, we'd be creating new `CoreBoxItem

[2019-10-10 15:43] maebeale opened #266 "Add UI for adding file_uploads to CoreBoxItem"
- depends on Issue #264
- we have the database and model set up, but no UI on CoreBoxItem form yet
- once #264 exists, we'd want to add an `Edit` button to CoreBoxItems in the list where the user can upload example files

[2019-10-10 15:46] maebeale commented on #264
CoreBoxItem == many-to-many AbuseType/InventoryType

[2019-10-10 15:46] #13 closed

[2019-10-10 15:47] #16 closed

[2019-10-10 15:54] maebeale opened #267 "Add Volunteer application form"
- must be publicly-accessible (no authentication required)
- either do it through Rails views, or if you want to do it using React, follow pattern of `box_request_form.js` and `BoxRequestTriageController` `/requesters/new`
- show all fields on Volunteer on the form
- add two questions to the form (and new fields to `volunteers` table)
    - `How did you hear about us?`, `marketing_vector`
    - `W

[2019-10-10 15:55] maebeale opened #268 "Add importer for Volunteers"
Add endpoint and ability to import a csv of existing Volunteers

[2019-10-10 16:03] maebeale opened #269 "Add InventoryTally importer"
- Add ability to import a csv of Inventory

- csv columns should be:
    - location_name (which importer does first_or_create on Location)
    - inventory_type_name (which importer does first_or_create on InventoryType)
    - quantity

- import should create a new tally if storage_location + inventory_type combo (InventoryTally) doesn't already exist, and then add an InventoryAdjustment with the q

[2019-10-10 16:12] maebeale commented on #32
- Something similar /requesters/new form workflow where the Requester is an organization (e.g. Barrett County Police Station), so add a new `/survivor_boxes/new` endpoint to routes
- There's a case for adding an Organizations table, but let's start by adding an `organization_name` field to Requester, and they still fill out their contact info just like on the `/requesters/new` form
- Instead of an

[2019-10-10 16:27] nathandonato commented on #267
Hi @maebeale, I'm interested in picking up this issue.

[2019-10-10 16:32] maebeale opened #270 "Enhance CRUD for Users"
- Admins need to be able to create and edit Users
- Back end already exists -- just need the views
- `/user_management` should have more than just invited/accepted status -- should show first_name, last_name, phone, email of associated Volunteer
- add Edit button to `/user_management`
- User form should include UI for adding/editing Permissions
- add Create button to `/user_management` (next to In

[2019-10-10 16:35] maebeale opened #271 "Fix bug that occurs when creating new Volunteer"
- Getting a primary key validation error when creating a new Volunteer
- Reproduce by visiting `/volunteers/new`, filling out the form, and clicking create at bottom

[2019-10-10 16:35] maebeale commented on #267
Great, @nathandonato ! I've assigned it to you. Thank you for your help!

[2019-10-10 16:37] maebeale opened #272 "Test suite help!"
We started this application during a hack weekend, and haven't been able to wrangle our test suite back to green yet. ANY help on this is VERY much appreciated!!! Even if you submit something to make ONE test pass, we'd be grateful.

[2019-10-10 16:49] #248 closed

[2019-10-10 17:05] z3ugma opened #274 "Add more tables to db/seeds/dev.rb"
#261 seeks development seed data
#273 adds some seed data

Add seed data for dev for additional tables like `Requester` and `BoxRequest`

[2019-10-10 17:18] Saroj-maker commented on #272
Just be calm and say all is well and try to find out the way by yourself.

[2019-10-10 17:26] maebeale opened #275 "Add AbuseTypes CRUD"
- We have the db, but need to add CRUD views so Admin user can add/edit/delete abuse_types

- AbuseType policy should require a new Permission constant, called SYSTEM_SETUP, for all AbuseType actions, with the following exception:
- AbuseTypesController needs to still service the json call (but change it to a different endpoint than the index, to help with the permission policy) from the /requeste

[2019-10-10 19:28] shaunakpp commented on #242
Hi @maebeale, I've created a draft pull request https://github.com/rubyforgood/voices-of-consent/pull/276 for this issue, but I noticed that there is a component for BoxRequest form which has a submit button value "SUBMIT - SEND ME A SURVIVOR BOX". Do I need to change that too? Or Am I misreading it completely 😅 ?

[2019-10-10 19:45] maebeale commented on #242
hey there! nope, that "send me a survivor box" button is different. we only need to change the text on the Rails side.

[2019-10-10 19:47] maebeale commented on #242
Would it be possible to change the test to `edit` instead of for `new`?
(We won't be creating any BoxRequests through the admin side. They will all come in through the `/requesters/new` form.

[2019-10-10 20:27] ibrokemylaughbox commented on #275
I am new to the community I would like to help :D

[2019-10-10 20:38] steph-hickman9 commented on #271
@maebeale

I want to support what this project is doing, it is such important work!

I found that the application references volunteer.user_id, when we should really be referencing volunteer.user.id. I was able to to switch these and in my local environment, and now I can create new volunteers. Is there anything else I should do before making a pull request?

[2019-10-10 20:41] ibrokemylaughbox commented on #246
I can help you with this !

[2019-10-10 20:45] maebeale commented on #246
Thanks, @ibrokemylaughbox ! I'll assign you now.

[2019-10-10 20:47] maebeale commented on #271
Thank you, @steph-hickman9 !!! Yes, we think so too.

Excellent! Yes, there was an old assumption that Volunteer would belong to User, but it's not that way anymore. Great catch!

If you could add a test confirming what you've changed, that'd be fantastic!

[2019-10-10 20:48] maebeale commented on #271
(lmk if you need help on this, @steph-hickman9!)

[2019-10-10 20:49] #261 closed

[2019-10-10 21:16] bethurban commented on #272
I'll take a look!

[2019-10-10 21:23] nathandonato commented on #267
Quick question. I assume the new questions should be required on the form, but do we want to validate their presence on the model? If so, it would require changes to the current volunteer creation workflow (`volunteers/new`).

[2019-10-10 21:25] maebeale commented on #267
@nathandonato Thanks for thinking of that! I do not think we will want to validate it on the model. They'll be importing historical data, and, I don't know that all volunteers will need to go through the application process. But this is definitely something to keep in mind for the future!

[2019-10-10 21:27] maebeale commented on #272
Thank you, @bethurban ! :)

[2019-10-10 21:30] maebeale opened #277 "Extract some BoxRequestTriageController code to a service"
We'd like to move this chunk from `app/controllers/box_request_triage_controller.rb:63` into a service, so that we can use it in FactoryBot and in db seeds
[code]

[2019-10-10 21:31] maebeale commented on #277
great idea, @z3ugma !

[2019-10-10 21:33] ibrokemylaughbox commented on #246
thanks !

[2019-10-10 22:29] maebeale commented on #209
@MxOliver I've added a bunch of this bc I was in there anyway trying to get all the workflow stuff working with the views & controllers

[2019-10-10 22:32] #229 closed

[2019-10-10 22:32] #233 closed

[2019-10-10 22:32] #35 closed

[2019-10-10 22:32] #164 closed

[2019-10-10 22:32] #209 closed

[2019-10-10 22:32] #234 closed

[2019-10-10 22:32] #235 closed

[2019-10-10 22:36] shaunakpp commented on #242
Hi, I've added specs to check the submit button value for `edit` and also kept the specs for `new`. I can add a few more tests for edit(like checking requester and other elements getting rendered correctly) in a separate pull-request, is that okay?

[2019-10-10 22:45] maebeale commented on #133
Fixed via: https://github.com/rubyforgood/voices-of-consent/pull/278

[2019-10-10 22:45] #133 closed

[2019-10-10 22:46] #163 closed

[2019-10-10 22:58] maebeale commented on #5
This view exists currently as a checklist of hard-coded test data, so needs to be changed to work dynamically.
- Visit http://localhost:5500/box_assembly/[:box_id] (use an ID of a box that has box_items) to see the view
- Needs to pull the list from the database, so a json endpoint will need to be created in order to access it from the React side
- Upon "checking" the checkbox for any box_item, an

[2019-10-10 23:00] maebeale commented on #242
That's GREAT, @shaunakpp ! Thanks!

[2019-10-10 23:00] #242 closed

[2019-10-10 23:02] MxOliver commented on #209
Awesome! sorry that I'm a bit slow on these things I generally only have the weekend

[2019-10-10 23:05] maebeale commented on #209
Oh! No worries AT ALL! I just got deep in there and figured it was worth it to just take a rough first pass while getting everything working the same across the life cycle. I was worried it would feel like a referendum, so REALLY hope that wasn't the case! There are tons of small cleanups and tests to do for all the ways I expanded on your aasm work, and I'd LOVE your review of what I did. There's

[2019-10-10 23:12] maebeale opened #280 "Add icons to /box_requests to indicate when a phase has been completed"
- We'd like to replace the text in brackets on /box_requests index with check mark icons (a la font-awesome or bootstrap icons).
- Ideally they'd be grey in color to match the color scheme

![Screen Shot 2019-10-10 at 7 06 46 PM](https://user-images.githubusercontent.com/7607813/66612979-d520e980-eb91-11e9-943b-025536152541.png)

[2019-10-10 23:17] #62 closed

[2019-10-10 23:22] maebeale opened #282 "Add Inventory dashboard"
User will need to see:
- total items grouped by `inventory_type` in stock across all locations, with some kind of color indicator for when quantity is below 5
- `inventory_type` totals per location, with some kind of color indicator for when quantity is below 5
- include total `Purchases` (for purchases that have a `box` via `shipping_payment`)
- include total # of BoxRequests and Boxes shipped
-

[2019-10-10 23:49] MxOliver commented on #209
No it didn't feel that way at all, no worries. And thank you!! I'll take a look at your work this weekend I'm looking forward to seeing it

[2019-10-11 00:51] Sommerariel commented on #280
Hey @maebeale I would love to help! Can I take this issue?

[2019-10-11 02:55] maebeale commented on #209
Thank you!

[2019-10-11 05:59] kalpananegi commented on #280
May I?

[2019-10-11 14:35] maebeale opened #284 "Add :county to /requesters/new form"
Field is in the database, but needs to be added to the form and BoxTriageController to store to the db.

[2019-10-11 14:38] maebeale opened #285 "Add college student section to Volunteer form"
- Add :university_location and :graduation_year to Volunteer form
- UniversityLocation assn needs to be added to the model
- Ideally the form would have a select2 dropdown of existing university Locations in the db, but allows the user to add a new one
- Graduation year dropdown should include 1950-2035. (Ideally it's a type-ahead feature as well)

[2019-10-11 14:38] maebeale commented on #285
@nathandonato

[2019-10-11 14:39] #267 closed

[2019-10-11 14:40] shaunakpp commented on #280
Hi @maebeale, I looked this up, and most of the changes were already in place,  we just needed to add `fontawesome` and modify the class name in `index`. I've sent this pull-request: #286

[2019-10-11 14:41] #280 closed

[2019-10-11 14:44] maebeale opened #287 "Volunteer (outreach) form defaults the age range to 12+"
- All volunteers will be over 12 years old, so we want to make that a hidden field on the Volunteer outreach form that defaults to 12+

[2019-10-11 14:48] maebeale opened #288 "BoxDesign draws InventoryTypes from the database"
- Right now the InventoryTypes are hard-coded

[2019-10-11 14:51] #260 closed

[2019-10-11 14:56] nathandonato commented on #284
Hi @maebeale I'd like to take this issue

[2019-10-11 14:58] maebeale opened #289 "Volunteer outreach form has :county field"
Add `county` to Volunteer outreach form

[2019-10-11 15:03] z3ugma commented on #240
@maebeale I get a 404 from that URL, possibly because I'm not a maintainer. Can you paste the raw alerts in the issue?

[2019-10-11 15:05] z3ugma commented on #288
I'm interested in this one

[2019-10-11 15:09] z3ugma commented on #288
So it looks like `app/javascript/src/components/box-design-form/BoxDesignForm.jsx:6`
has the line:
`import { itemTypes as mockItemTypes } from '../../mocks/mockData';`

Which has:
[code]

What's the architecture you'd like - is it a `:json` endpoint in `app/controllers/inventory_types_controller.rb`  that returns inventory types with an AJAX call in React?

[2019-10-11 15:17] maebeale opened #293 "Verify SimpleForm update does not have any incompatibilities"
- Dependabot created this PR: https://github.com/rubyforgood/voices-of-consent/pull/290
- The simple_form docs should be checked to see if there are any breaking changes in our current use of simple_form when we complete this upgrade

[2019-10-11 15:19] #284 closed

[2019-10-11 15:20] maebeale opened #294 "Verify Rubyzip upgrade does not introduce compatibility issues"
Dependabot created this PR: #291
The rubyzip docs should be checked to see if there are any breaking changes when we complete this upgrade

[2019-10-11 16:59] nathandonato commented on #287
Hi @maebeale I'd like to take this one

[2019-10-11 17:00] maebeale commented on #287
Thanks, @nathandonato !

[2019-10-11 17:18] #156 closed

[2019-10-11 17:43] nathandonato commented on #285
@maebeale I can't find a `UniversityLocation` model. Looking at `schema.rb`, it looks like `volunteers.university_location_id` is a foreign key referencing the `locations` table. But the `Location` model's `location_type` enum doesn't support anything like "university." Should I add this enum type?

[2019-10-11 18:00] maebeale commented on #285
Yes, please on the enum type! Thank you!

On Fri, Oct 11, 2019, 1:43 PM Nathan Donato <notifications@github.com>
wrote:

[2019-10-11 18:47] nathandonato commented on #285
Thanks, @maebeale. I have started work on this, so feel free to assign me.

[2019-10-11 19:34] cassianoblonski commented on #282
I'm on this

[2019-10-11 19:37] maebeale commented on #282
Great, @cassianoblonski !

We're building up to having it be something like one of these. Getting the data on there to start is perfect, and if you wanted to take it further and design it more, that's great too!

![Screen Shot 2019-10-11 at 3 35 58 PM](https://user-images.githubusercontent.com/7607813/66679758-01457480-ec3d-11e9-9289-41874c33b8b4.png)

![Screen Shot 2019-10-11 at 3 35 21 PM](https

[2019-10-11 19:41] #289 closed

[2019-10-11 19:42] #287 closed

[2019-10-11 20:16] cassianoblonski commented on #272
i'm fixing some specs

[2019-10-11 20:17] maebeale commented on #272
Great, @cassianoblonski ! I just merged some code people had worked on re tests too, so you might want to update develop and merge them in. All help welcomed here!

[2019-10-11 20:29] jon-flores commented on #272
Hi I took a stab at some spec updates. I'll look into more when I can.
Thanks for the opportunity!

[2019-10-11 20:34] maebeale commented on #272
Thanks, @jon-flores!

[2019-10-12 00:01] maebeale opened #303 "`researched_at` datetime added to BoxItem"
- add a `researched_at` datetime field on box_items table (we'll need a UI later for fulfilling box_item research needs that these will be useful for)
- update Box#mark_box_items_as_researched! method to also update researched_at: Time.now
- update Box#box_item_research_completed? from `research_status << box_item.researched_by_id.present? ? true : false # TODO - add researched_at to BoxItem` to `

[2019-10-12 00:43] amyhenning commented on #303
I'll pick this one up!

[2019-10-12 00:46] maebeale opened #305 "Add block on emails being sent if Requester or Volunteer selected *not* ok_to_email"
Whenever a Mailer is called, if the person didn't "ok" an email being sent, it shouldn't get triggered.

[2019-10-12 00:49] maebeale opened #306 "Make a louder error for on /requesters/new if phone field isn't formatted correctly"
- Right now it's a silent error if you've added something to the field, but it doesn't have the `ddd-ddd-dddd` format

[2019-10-12 02:03] #232 closed

[2019-10-12 02:05] #231 closed

[2019-10-12 02:08] maebeale commented on #303
Great, @amyhenning !

[2019-10-12 02:29] #303 closed

[2019-10-12 09:37] matisnape commented on #274
Can I take this? :)

[2019-10-12 10:50] maebeale commented on #274
Sure can, @matisnape !

Feel free to add any seeds to any and all tables!

I'm going to make another issue with some specific seed data we need, so feel free to claim that one after, if it interests you!

[2019-10-12 11:24] maebeale opened #310 "Create factory_bot traits"
We have need for varied `user`, `box_request`, `box`, and `box_item` factory traits (We have existing factories) for use in tests, and later to create seed data.

If we had `box` traits that mimic the methods in the box model such as `design_claimed`, `design_completed`, `shipping_claimed`, `shipping_completed` where the relevant `*_by_id`,`*_at`, and `aasm_state` were populated, that'd be amazing

[2019-10-12 12:49] maebeale opened #311 "Create box_request and box seed data from factories"
Depends on #310

Using the factories, we'd like to create seeds to create ~30-50 box_requests (and boxes) with the to represent all parts of the box_request/box lifecycle.
Here's a SO re referencing factories in seeds (https://stackoverflow.com/questions/5382295/how-can-i-use-factory-girl-in-db-seeds).

We'd like ~30-50 `box_requests` with random/different `box_request_abuse_types`  that are calli

[2019-10-12 12:57] maebeale opened #312 "Copy text to Background section in background.md"
Please add the following to the `background.md` file under the Primary Workflow of the Application and under a new heading: `References re the above`

[code]

[2019-10-12 13:37] matisnape commented on #274
@maebeale does CRUD for those things work locally? I see a lot of frontend errors in console when creating requester via /requesters/new and I get 422 from backend

EDIT: found it, there's a backend validation for phone number in format xxx-xxx-xxxx which is not displayed on submit 🙄

[2019-10-12 13:50] leosoaivan commented on #310
@maebeale I can take a look at this. I've worked with Factory Bot before, never with traits, though. Can't be _that_ much of a lift (hopefully) :).

[2019-10-12 13:53] eluthern commented on #312
@maebeale I'd be happy to work on this! I'll open a pr.

[2019-10-12 14:26] maebeale commented on #312
Thank you, @eluthern !!! Text suggestions welcomed too! :)

[2019-10-12 14:27] #312 closed

[2019-10-12 14:28] maebeale commented on #310
Awesome and thank you, @leosoaivan !

If it's helpful, here's something I've used in another project:
[code]

[2019-10-12 14:49] leosoaivan commented on #310
I'll get setup with the project today. Let you know if I have any issues getting setup!

[2019-10-12 14:51] maebeale commented on #310
Any and all feedback welcome on the README, CONTRIBUTING, and background.md docs as you get set up, @leosoaivan ! :)

[2019-10-12 14:54] austenmadden commented on #275
@maebeale any feelings about using https://github.com/thoughtbot/administrate for admin CRUD stuff?  I've used it in the past and have really enjoyed how easy it made admin to setup.

[2019-10-12 15:00] maebeale commented on #275
Hey there, @austenmadden ! Thanks for asking about this. We'd decided to roll our own CRUD for this project.

[2019-10-12 18:22] matisnape commented on #306
Same is for email

[2019-10-12 18:57] nathandonato commented on #285
Hi @maebeale I opened up a PR. Please note it adds most but not all of the things requested in this issue. I decided to open up the PR anyway because I won't have much time to work on this in the coming days.

New issues will be needed for: 1) creating a new Location from within the form and 2) adding a graduation year dropdown.

[2019-10-12 19:18] sarslanoglu commented on #305
I can work on this issue. What will happen if Mailer tries to email someone with ok_to_email: false person. Should it give an error or just do nothing?

[2019-10-12 19:56] katestud commented on #269
👋 hi @maebeale ! I'd be happy to take a whack at this one!

[2019-10-12 23:39] katestud commented on #269
I have a question about how we'd want to handle scenarios where a user uploads a CSV with a `nil` or `0` value for the quantity. Would we:
1. Want to ensure an inventory tally exists, and if not, create one
2. Create an inventory adjustment for 0? Or, just ensure the tally exists and not create an adjustment?

[2019-10-13 01:02] leosoaivan commented on #310
It appears I can't get `docker-compose up` to run a local server on 3000.

[code]

Have I got the wrong port, perhaps?

[2019-10-13 01:09] atzorvas commented on #272
Took the will to kill 'em 🙃 - relevant PR #320

[2019-10-13 12:05] laser-shark commented on #306
I would like to try and work on this, but I'm stuck because I don't have any log in credentials. What's the default way to log in locally for testing purposes? There must be something obvious that I'm missing.. 😅

Also, what exactly do you mean by "louder error"? Do you mean on the form as direct user feedback, or in the backend tests?

[2019-10-13 13:36] matisnape commented on #306
@laser-shark As described here https://docs.dev.to/backend/authentication/ you need to log in with Github or Twitter

And as for louder error - it's for user feedback - currently there's no visible validation message about required format in the app and user won't know why the submit button doesn't do anything - I only saw 422 in the logs. So basically, you need to pass the Rails validation error

[2019-10-13 17:26] neymarsabin commented on #270
Can I work on it ? @maebeale

- [ ] Admins need to be able to create and edit Users
- [x] `/user_management` show first_name, last_name, phone, email of associated volunteer
- [ ] edit button in `/user_management`
- [ ] user form should include UI for adding/editing permissions
- [ ] `/user_management` -> add view for creating a user with `accepted_nested_attributes_for :volunteer`

[2019-10-13 18:01] maebeale commented on #270
Sure can, @neymarsabin! Thank you!

[2019-10-13 18:20] neymarsabin commented on #270
@maebeale In your first comment: `Admins need to be able to create and edit Users (backend already exists)`  you meant `volunteers` right ? or you meant users ?

[2019-10-13 19:05] bransynluther opened #324 "Update importer for Volunteers (Email)"
Currently there is an issue when importing volunteers where the email field cannot be pulled in from the CSV field because it is not an attribute on the Volunteer Model. In order to solve this issue, the email field provided in the CSV should be used to first create a user, along with the appropriate permissions see Issue #326  . With this in place, the user email can then be used in the creation

[2019-10-13 19:14] bransynluther opened #326 "Update importer for Volunteers (permissions)"
Currently there is an issue when importing volunteers where the email field cannot be pulled in from the CSV field because it is not an attribute on the Volunteer Model. In order to solve this issue, the email field provided in the CSV should be used to first create a user, along with the appropriate permissions see Issue #324 . With this in place, the user email can then be used in the creation o

[2019-10-13 19:17] #272 closed

[2019-10-13 20:07] atzorvas opened #327 "Need for CI and checks in PRs"
A CI with github integration in order to only allow PRs with passing tests to be merged would be greatly beneficial as a green test suite is the easiest way for someone to get quick feedback and contribute more easily and with more confidence!

I'd suggest [Gitlab CI](https://about.gitlab.com/solutions/github/) as it seems feature-proof and also acquired gemnasium - given that we have a ruby/rails

[2019-10-14 01:16] maebeale opened #329 "Remove duplicate LocationType field from locations#new form"
We have the select dropdown working, so don't need the integer field at the bottom.

![VoicesOfConsent](https://user-images.githubusercontent.com/7607813/66725316-b70bf100-edfe-11e9-956d-92d40d35f0dd.png)

[2019-10-14 01:27] #269 closed

[2019-10-14 01:40] HenrySabio commented on #329
I'd like to claim this Issue! @maebeale
Just to confirm the issue is located in "voices-of-consent/app/views/locations/_form.html.erb"?

[2019-10-14 01:44] maebeale opened #330 "inventory_tallies/_form should only show locations that are of type: "storage_unit""
Right now the InventoryTally form shows all Locations in the database in the f.association :storage_location, and we want to have it filtered to where(location_type: "storage_unit")

[2019-10-14 02:03] maebeale commented on #329
Thanks, @HenrySabio ! Correct! :)

[2019-10-14 02:06] z3ugma commented on #288
From Slack discussion:

[2019-10-14 02:12] maebeale commented on #310
@leosoaivan hey there! hmmm. i don't use the docker rendition, but someone just submitted a PR that changed that from `docker-compose start` to `docker-compose up`. i'll see if i can reproduce the docker problem, but in the meantime would you try `docker-compose start`? (or consider using the local services option until we get this figured out.)

[2019-10-14 03:06] #329 closed

[2019-10-14 03:13] maebeale commented on #288
@z3ugma is that enough to go on?

[2019-10-14 03:20] maebeale opened #332 "volunteers/new form doesn't show error if county is left blank"
Other fields produce the pink error class when left blank, but for some reason the county field doesn't. You can see a JS error in console, but nothing prompts the user to know it's a required field.

[2019-10-14 03:35] z3ugma commented on #288
Yes, that's much clearer. You can assign me this one.

[2019-10-14 03:42] maebeale commented on #306
@laser-shark the development login account info is available in `seeds.rb`

and, thanks @matisnape for the help!

[2019-10-14 03:44] maebeale opened #333 "Make a louder error on /volunteers/new and /requesters/new when invalid email is input"
We want the email field to highlight pink when there's an invalid email input. Currently it fails in the console/server but there's no feedback provided to the user.

Per @mastisnape:
Currently there's no visible validation message about required format in the app and user won't know why the submit button doesn't do anything - I only saw 422 in the logs. So basically, you need to pass the Rails va

[2019-10-14 03:46] maebeale commented on #275
@austenmadden would you like to be assigned to this issue?

[2019-10-14 03:50] maebeale opened #334 "Add ability to create a new Location from within the volunteers/new form"
Users can select from existing Universities on `/volunteers/new` form.
We'd like a select2 that allows a create (if not found using typeahead) on Location
Location needs a `location_type`, so this should be defaulted to the string `university`

[2019-10-14 03:51] maebeale opened #335 "Add a graduation year dropdown to /volunteers/new"
Change the graduation year from an integer field to a year selector dropdown beginning in 1950 and ending in 2050

[2019-10-14 03:52] maebeale commented on #285
just completed creating those as new issues, @nathandonato. thank you!

[2019-10-14 03:54] #285 closed

[2019-10-14 03:56] maebeale commented on #305
@sarslanoglu , great! thank you for the help! i'll assign this one to you.

Thanks for being up that failure nuance. I was going to create a follow-up issue for that, but hadn't decided what the ideal behavior should be. What do you recommend?

[2019-10-14 03:57] maebeale commented on #306
@matisnape i added a new issue re the same thing w email (and also w county if it's blank)

[2019-10-14 03:57] alessandrojcm commented on #335
I'll do this.

[2019-10-14 03:58] maebeale commented on #306
@laser-shark just assigned this one to you. lmk if you are able to log in. thank you for your help!
p.s. i'm going to add a new issue for someone to update the readme re finding the login credentials. that is a gotcha, so appreciate your bringing it up.

[2019-10-14 04:01] maebeale opened #336 "Update README with note re login credentials"
Add note re login credentials in setup section of README.

Below the following:
[code]

Add:
[code]

[2019-10-14 04:09] maebeale commented on #335
Great! Thank you, @alessandrojcm!

[2019-10-14 04:12] #268 closed

[2019-10-14 04:25] maebeale opened #338 "Store sample upload csvs to the repo"
@bransynluther would you be willing to add your sample volunteer csv to `/db/import_file_samples` (or a different/better name or location you suggest)

[2019-10-14 04:54] maebeale commented on #274
Reopening this issue because we need some seeds for message logs that correspond with the Box request and Box seeds created

[2019-10-14 04:55] maebeale commented on #274
Also need seeds for storage_unit Locations and inventory_tallies

[2019-10-14 04:55] maebeale commented on #274
And any other tables.

[2019-10-14 04:56] maebeale commented on #274
When committing re this issue, please list it as `partially resolves #274` so it can stay open

[2019-10-14 09:44] seal62 commented on #332
Im happy to take a look at this. can you point me in the direction of the form in the code base.. it looks pretty extensive. thanks

[2019-10-14 12:27] mai-am commented on #336
I can do this!

[2019-10-14 12:39] mai-am commented on #336
Sorry, I see that maybe someone already did this. I'm new to this so I hope I didn't cause any extra hassle.

[2019-10-14 12:54] #336 closed

[2019-10-14 13:29] bransynluther commented on #338
That is a big CAN-DO Mae!!!!
I will include the CSV file in with my next PR involving this feature!!

[2019-10-14 13:40] maebeale commented on #338
You ROCK!

[2019-10-14 13:42] #258 closed

[2019-10-14 13:49] maebeale commented on #336
We've been assigning whoever adds the first comment, so best to wait after you add that you'd like to claim an issue. But, no trouble at all! Thanks for jumping in @mai-am !

[2019-10-14 13:52] maebeale commented on #332
Thank you, @seal62 ! If you go to /views/volunteers/new, it'll show the name of the JS file where the code lives. Lmk if that's helpful enough or not!

[2019-10-14 13:56] maebeale opened #342 "Add Hound to the repo"

[2019-10-14 14:45] PacoLuna1 commented on #342
@maebeale  can I try it?

[2019-10-14 14:49] maebeale commented on #342
Sure can! Thanks, @PacoLuna1 !

[2019-10-14 15:32] maebeale opened #343 "Add hover text to icons on /box_requests/index.html.erb"
Please remove the following code from the index, bc we don't want that cluttering up the BoxRequests index anymore.
[code]

Instead, we'd like that whenever there's an icon showing, to add hover text displaying the aasm_state.

[2019-10-14 15:53] PacoLuna1 commented on #342
Can you be little more specific about what you want? @maebeale

[2019-10-14 16:12] luchiago commented on #343
Hi. I would like to work on that

[2019-10-14 16:22] efl7a commented on #333
Could I work on this?

[2019-10-14 16:25] lucianolima00 commented on #330
Hey @maebeale, I'd like to do this one

[2019-10-14 17:04] bransynluther opened #346 "Send reset password instructions to volunteers created via CSV Importer"
Whenever a volunteer is created and saved to the database via the CSV Importer, they are assigned a default password of "Secret!!". Upon creation of these volunteers, they should be sent an email explaining what their current password is(mentioned above) and that is is not very safe.

- Utilize Devise emailing templates
- Trigger email using controller/model for volunteer import functionality.

[2019-10-14 17:35] maebeale commented on #330
@lucianolima00 , great! thank you!

[2019-10-14 17:35] maebeale commented on #343
Great, @luchiago !

[2019-10-14 17:36] maebeale commented on #333
Sure can, @efl7a ! Thank you!

[2019-10-14 17:39] maebeale commented on #270
@neymarsabin hello and thanks for asking! I did mean Users, added the nested Volunteer attributes thing because every User belongs to a Volunteer, so the Volunteer fields are needed at the same time. Is that helpful, or did i only muddle the waters for you?

[2019-10-14 17:40] maebeale commented on #240
![Screen Shot 2019-10-13 at 11 08 16 PM](https://user-images.githubusercontent.com/7607813/66771441-3db8e080-ee88-11e9-9a3d-8927f0491d0b.png)

[2019-10-14 17:41] maebeale commented on #240
@z3ugma

![Screen Shot 2019-10-14 at 1 40 31 PM](https://user-images.githubusercontent.com/7607813/66771454-490c0c00-ee88-11e9-8991-dc0a7c9c9499.png)

[2019-10-14 17:46] maebeale commented on #342
@PacoLuna1 Someone else has a PR adding rubocop to the repo, and we want to add Hound so that it'll run rubocop on any PRs. Any other settings or Hound implementation you recommend?

[2019-10-14 18:18] atzorvas commented on #342
@maebeale shouldn't hound be installed using this link from a repo owner?  https://github.com/marketplace/hound

[2019-10-14 19:09] PacoLuna1 commented on #342
yes thats why I have doubts, I only can install hound to my fork
![image](https://user-images.githubusercontent.com/37641348/66776518-2ed42d00-ee8c-11e9-888e-1557de9ce91d.png)

[2019-10-14 19:10] lucianolima00 commented on #230
@mirandawang I'd like to do this issue, if it still available

[2019-10-14 19:42] efl7a commented on #333
@maebeale - I see the email field you are referencing on requesters/new, but there is not an email  input on volunteers/new.  I will work on the requesters/new and you can tell me what you want to do re: volunteers/new.

[2019-10-14 20:31] sarslanoglu commented on #305
@maebeale Couldn't come with an idea. I just checked that ok_to_email on volunteer and requester. If it is set to false AutoEmailHandler will not be called at all

[2019-10-14 20:37] shivamvinsol commented on #334
I can have a look on this.

[2019-10-14 20:47] sarslanoglu commented on #257
I can work on this issue, if it is still available @maebeale

[2019-10-14 21:26] maebeale commented on #257
Great! Thank you, @sarslanoglu !

[2019-10-14 21:27] maebeale commented on #334
Perfect! Thank you, @shivamvinsol!

[2019-10-15 08:43] seal62 commented on #332
Created PR https://github.com/rubyforgood/voices-of-consent/pull/350

[2019-10-15 15:47] laser-shark commented on #306
@maebeale Thanks for the hint, I was able to log in now! I will start working on this now and hopefully be done in a few days.

[2019-10-15 16:27] botanical opened #352 "Update README to clarify instructions regarding docker-compose up/start"
Add additional instructions to help alleviate docker-compose issues users are seeing

[2019-10-15 16:27] botanical commented on #352
I will take this on! I am just creating an issue to track the changes I will submit in a PR

[2019-10-15 16:40] maebeale commented on #352
Sounds great! Thank you, @botanical !

[2019-10-15 16:41] maebeale commented on #352
The biggest complaint I've heard is that localhost:3000 doesn't seem to be where the project is available.

[2019-10-15 17:44] z3ugma opened #354 "BoxAssembly React component should show inventory items from Box.box_items instead of mocks"
Make `app/javascript/src/components/box-assembly-form/BoxAssemblyForm.jsx` not pull from the `app/javascripts/mocks/mockData` in a similar vein to #353

In `BoxDesign` you pick items to add to the box's "to-do" - all the things that should someday be put in the box (`Box.box_items`)

Once the box gets to the "package" step (`reviewed_at` and `reviewed_by_id` `!=nil`), in `BoxAssembly`, you mark th

[2019-10-15 17:46] z3ugma opened #355 "In BoxDesign phase, only allow one of a given InventoryItem to be added to BoxItems"
Autofilter the list of available InventoryTypes that the user can "add to the box" (aka create an associated BoxItem). (Bc they can only add each InventoryType once per Box).

_Originally posted by @maebeale in https://github.com/rubyforgood/voices-of-consent/pull/353_

Update `app/javascript/src/components/box-design-form/BoxDesignForm.jsx` and related React files so that the autocomplete doesn't

[2019-10-15 18:01] z3ugma commented on #263
@maebeale I'm interested in taking this one:

What's the workflow for getting to the Purchase form?

It looks like I need a `User` with a `Volunteer`
`app/views/purchases/new.html.erb` has a standard `simple_form`. I'll plan to add something like
`<%= f.input :receipt_file_uploads, as: :file, label: "Upload Receipts" %>`

Are we planning to use React at all in the `Purchases` CRUD?

[2019-10-15 19:03] #333 closed

[2019-10-15 19:15] maebeale commented on #263
Thanks, @z3ugma !

There are two workflows re uploading `receipt_file_uploads`:
1. From `/admin`, go to the `/purchases` index and click "New Purchase" (this link doesn't exist yet, but would get added to `views/shared/_sidebar.html.erb`. In this case, the User would be logging any purchase they make. We prob will want to flesh this out further to be able to associate  InventoryTallies and create

[2019-10-16 00:16] #288 closed

[2019-10-16 00:22] #335 closed

[2019-10-16 00:23] austenmadden commented on #275
@maebeale I had some free time this weekend but ended up working on other projects. If someone doesn't pick it up in the future maybe @eluthern and I will pair on it.

[2019-10-16 00:25] maebeale commented on #275
Sounds great, @austenmadden ( and @eluthern )!

[2019-10-16 00:39] maebeale opened #357 "Reorder fields on /inventory_tallies/_form.html.erb"
- Move `additional_location_info` to be the last field on the `/inventory_tallies/_form.html.erb`
- Display it as a text field, rather than string

[2019-10-16 00:52] maebeale opened #358 "Locations/_form.html.erb location_type field should default to database value"
When Editing an _existing_ Location record, the `location_type` dropdown/select field should be defaulted to the value currently in the database

Steps to reproduce:
- create a Location in the console (e.g. `Location.create!(location_type: 1, name: "New location")` )
- visit /locations index
- click "Edit" for the Location you just created
- LocationType dropdown looks empty

[2019-10-16 00:58] maebeale opened #359 "Fix enum bug in Locations#new"
Location has an enum called `location_type`

When going to `/locations/new`, I'm getting an error that "0" is not a valid location_type (because it's being sent via params as a string).

If I go to the `create` action in the LocationsController and replace:
[code]
with:
[code]
then, it works.

The database field is an integer. The model lists the values in the key/value pairs as integers. Why/how

[2019-10-16 01:12] maebeale opened #360 "Center-align the td's on /box_requests index.html.erb"
We'd like the content of the td's on BoxRequests index to be center-aligned, rather than left-aligned

[2019-10-16 01:17] #293 closed

[2019-10-16 01:26] maebeale opened #361 "Add second expect statement to box_request_spec.rb"
We want to verify that after `box_request.complete_review!` we get a box_request with state (aasm_state) :reviewed, and an associated box with the same state.
- Please add the following expect statement:
`expect(box_request).to have_state(:reviewed)`
above a very similar line:
`expect(box_request.box).to have_state(:reviewed)`

[2019-10-16 01:27] maebeale opened #362 "Remove semicolon in expect statement"
In the box_request_spec.rb, there's the following line:
`expect(box_request.box).to have_state(:reviewed);`

Please remove the semicolon. Thank you!

[2019-10-16 01:28] #330 closed

[2019-10-16 01:30] maebeale opened #363 "Remove a scope from the Location model"
Apparently enums automatically create these scopes for us, so the named scope `:storage_unit` is overwriting the method already created by using `enum`.

Please remove the scope `:storage_unit` from the Location model.

[2019-10-16 01:40] BrandonMGH commented on #362
I can do that :D

[2019-10-16 01:42] maebeale commented on #362
Awesome, @BrandonMGH !

[2019-10-16 01:50] BrandonMGH commented on #362
Done!

[2019-10-16 02:06] aman-roy commented on #363
I am working on this.

[2019-10-16 02:10] maebeale commented on #363
Great, @aman-roy !

[2019-10-16 02:27] marcelakopko commented on #361
PR opened here :)
https://github.com/rubyforgood/voices-of-consent/pull/366/files

[2019-10-16 03:08] leosoaivan commented on #310
@maebeale just a quick update. Haven't been able to get it running locally either with docker-compose start or up.

Nevertheless, it might be moot, since I'm mostly focusing on the test suite for now. Now that everything is green, I'll be able to take a closer look at those traits in the coming days!

[2019-10-16 03:08] nicpicks commented on #359
hi @maebeale, I'll tackle this 😃

[2019-10-16 03:51] Praful932 commented on #362
Done [Pull request](https://github.com/rubyforgood/voices-of-consent/pull/369)

[2019-10-16 06:22] nicpicks commented on #357
Hi, i'd like to do this as well. Can I clarify what you mean by text field though? Do you mean `text_area`? Right now, it seems like its already a string input field.

[2019-10-16 09:09] maebeale commented on #357
@wei-tg , great! Yes, exactly. Many thanks!

[2019-10-16 09:40] #359 closed

[2019-10-16 09:43] maebeale commented on #310
Thanks for the update, @leosoaivan ! Did you try the non-docker implementation? Someone else is testing the docker setup, so hopefully that'll get resolved in the next day or so. Great news about the traits! Thank you!

[2019-10-16 09:47] #361 closed

[2019-10-16 09:55] renatamarques97 commented on #360
i'll do it

[2019-10-16 09:57] maebeale commented on #360
Thank you, @renatamarques97 !

[2019-10-16 19:55] smoline commented on #213
I would like to work on this one.

[2019-10-16 21:47] maebeale commented on #213
Awesome, @smoline !

[2019-10-17 00:00] #363 closed

[2019-10-17 01:39] maebeale commented on #360
@renatamarques97 Thank you!!!

[2019-10-17 01:40] #360 closed

[2019-10-17 02:13] maebeale opened #372 "Add dynamic buttons partial to Box lifecycle phases"

[2019-10-17 02:15] amygori commented on #372
🙋

[2019-10-17 03:44] PacoLuna1 commented on #342
@maebeale it is a great idea to install scss-lint to keep your SCSS files clean and readable
https://github.com/sds/scss-lint

[2019-10-17 14:21] z3ugma commented on #263
Cool, that's enough background to go on I think. Can you assign me this one @maebeale ?

[2019-10-17 14:26] maebeale commented on #263
Sure can! Thank you, @z3ugma !

[2019-10-17 14:26] maebeale commented on #372
FYI, none of the react buttons on `/[lifecycle phase]/new` currently do anything (in case that part was confusing).

[2019-10-20 20:53] #213 closed

[2019-10-20 20:55] maebeale opened #378 "Alphabetize dropdown items on BoxDesign list"

[2019-10-21 06:55] shivamvinsol commented on #334
Been busy for a few days, hopefully will see this through in 1-2 days.

[2019-10-21 13:08] maebeale commented on #334
Sounds great, @shivamvinsol!

[2019-10-21 16:20] #305 closed

[2019-10-21 17:07] MadhuriShres commented on #378
I would like to work on this. Thanks!

[2019-10-21 17:37] maebeale commented on #378
awesome @MadhuriShres !

[2019-10-22 13:49] mauricio-prl commented on #274
can I try to do the message logs seeds?

[2019-10-22 13:58] maebeale commented on #274
Yes please, @m-pereira !

[2019-10-22 16:47] #378 closed

[2019-10-22 17:20] MadhuriShres opened #380 "Typo in Box Design page"
**Description:**
In the design box page, once we select an item from the inventory dropdown, instructions about next steps is displayed with a thank you message. The message contains a typo where `ready` is misspelled as `read`.

Attached is the screenshot below:
<img width="1440" alt="Screen Shot 2019-10-22 at 10 45 22 PM" src="https://user-images.githubusercontent.com/10415283/67311962-38aaff80-

[2019-10-22 17:21] MadhuriShres commented on #380
Hi @maebeale , I would fix this typo and share the PR, if it is okay. Thanks!

[2019-10-22 17:21] maebeale commented on #380
Good catch, @MadhuriShres ! Yes, great! Thank you!

[2019-10-22 17:34] #380 closed

[2019-10-22 20:43] iofall commented on #362
What is the status of this issue? @maebeale. Please assign it to me if it has not been fixed.

[2019-10-22 21:17] maebeale commented on #362
@cedarfall hello! i've been waiting to hear back from folks above. please ignore this one for now. thank you tho! hopefully there's more that you might find of interest?

[2019-10-22 21:38] #362 closed

[2019-10-22 23:30] maebeale commented on #20
Functionality desired:
- After clicking "check" on a checkbox, controller creates an InventoryAdjustment, subtracting one from the Assembly Location's InventoryTally for that InventoryType

Background:
- BoxAssembly is a checklist of BoxItems for the Assembler to physically put in the Box
- Checking an item on the Box Assembly page _should_ adjust the InventoryTally (for the location of the Assemb

[2019-10-22 23:46] maebeale opened #384 "Add new association (assembly_location) to Box"
We'll need to know the Location that the Box is being Assembled in, so we can find the correct InventoryTallies to increment and decrement. This issue is setting up the back end to handle this data.

- Add to `Box`: `belongs_to :assembly_location ...`
- Add to `Location`: `has_many :assembled_boxes ...`
- Add `assembly_location` dropdown to Box form that produces a list of Locations with type 'sto

[2019-10-22 23:46] #21 closed

[2019-10-23 00:26] mauricio-prl commented on #384
@maebeale Can I try to do?

[2019-10-23 12:59] sarslanoglu commented on #257
@maebeale When i looked at desired design, how could i decide user is adminisrator or just volunteer?

[2019-10-23 13:13] maebeale commented on #257
@sarslanoglu GREAT question! If they have the Permission::MANAGE_USERS, they will be an "Administrator", otherwise, they're a "Volunteer".

[2019-10-23 13:21] maebeale commented on #384
@m-pereira By all means! Thank you!

[2019-10-23 17:11] sarslanoglu commented on #294
@maebeale This issue is outdated

[2019-10-23 17:35] #294 closed

[2019-10-23 17:36] maebeale commented on #294
Thank you, @sarslanoglu!

[2019-10-23 18:31] sarslanoglu commented on #358
@maebeale This issue also solved by wei-tg

[2019-10-24 13:32] #240 closed

[2019-10-24 21:29] luchiago commented on #343
@maebeale What kind of icon? And it will be from where?

[2019-10-25 17:47] steph-hickman9 commented on #355
Can I take this task?

[2019-10-25 17:51] steph-hickman9 commented on #355
It seems like this functionality is already implemented? When I try to add items, I can only them once. However, I can't proceed using the "the box is ready to go" button.

[2019-10-25 18:43] maebeale commented on #355
Thank you, @steph-hickman9! Yes, you're right that it's completed. Thank you for finding this! The buttons don't work yet. That's another issue (that's claimed).

[2019-10-25 18:43] #355 closed

[2019-10-30 15:13] OskrNav commented on #246
this issue is still pending. ? can I help with that ?

[2019-10-30 16:56] maebeale commented on #246
@OskrNav hello! i believe so! would love help! will assign you now.

[2019-10-30 16:57] maebeale commented on #246
@ibrokemylaughbox hello! i'm going to reassign this to another contributor. hope you still become involved with our project in the future!

[2019-10-31 16:20] bransynluther opened #391 "Volunteer CSV university_location_id"
Add a lookup for Volunteer on row[9] and make that csv column be Location name,  using where(name: row[9], location_type: "university").first_or_create!(...) to get or create Location. Add a find_by like you did for Volunteer in your User create.

[2019-10-31 19:27] bransynluther opened #392 "Unable to destroy volunteer from volunteer's table"
After creating a Volunteer using the csv uploader feature, then trying to destroy that volunteer, it produces this error
``` PG::ForeignKeyViolation: ERROR: update or delete on table "volunteers" violates foreign key constraint "fk_rails_da9863bf10" on table "users" DETAIL: Key (id)=(5) is still referenced from table "users". : DELETE FROM "volunteers" WHERE "volunteers"."id" = $1```

[2019-11-01 02:46] gkpacker commented on #277
I'll do this!

[2019-11-03 12:18] #324 closed

[2019-11-03 12:18] #338 closed

[2019-11-03 12:18] #357 closed

[2019-11-03 12:19] #334 closed

[2019-11-03 12:25] #384 closed

[2019-11-03 12:26] #257 closed

[2019-11-03 12:27] #271 closed

[2019-11-03 12:29] #343 closed

[2019-11-03 12:32] #274 closed

[2019-11-03 12:51] #277 closed

[2019-11-04 14:00] maebeale opened #395 "Fix failing tests"
There are two failing tests related to the inventory Tallies form. Would love to get the suite green again!

[2019-11-04 15:03] smoline commented on #395
@maebeale I would like to work on this one.

[2019-11-04 17:02] maebeale commented on #395
Hello, @smoline, and thank you!

[2019-11-05 21:28] #395 closed

[2019-11-07 00:53] oconnelc commented on #20
I can start taking a look at this. I'm setting up my workspace now and am working at a "Code For Good" meetup. I'm not sure how much time I can dedicate after today, but I want to see how far I get tonight.

[2019-11-07 00:54] maebeale commented on #20
Great, @oconnelc !!!

[2019-11-09 18:45] MatthewBosek commented on #358
Hello, can I work on this issue?

[2019-11-09 18:46] maebeale commented on #358
Great! Now you're assigned, @MatthewBosek . Write on slack if you have questions getting set up!

[2019-11-10 09:59] sarslanoglu commented on #159
@MxOliver I can work on this one with you. Where do you block on?

[2019-11-10 13:13] MxOliver commented on #159
Yeah you can absolutely take over this one!

[2019-11-10 13:19] maebeale commented on #159
Sorry I missed your comment here earlier, @MxOliver ! Thanks for jumping in @sarslanoglu !
We've started to implement this in the dropdown on box_requests index, so maybe that could be referenced for the button code to get y'all further?

[2019-11-16 16:23] notapatch commented on #332
Hello @maebeale

Reading through your issues and it looks like this has been merged but the issue has been left open.

[2019-11-16 16:24] oconnelc commented on #20
I'm still looking at this. I was working on it today but was having problems setting up my environment. I think I've resolved the environment issues.

[2019-11-16 19:09] maebeale commented on #20
No rush, @oconnelc ! Let us know if we can be of any help!

[2019-11-30 20:43] JoaoFernandesVale commented on #358
Hi @maebeale is this still an issue?
I tried on my end and is working fine.

Steps I did:
-  Create location ( Location.create!(location_type: 1, name: "New location") )
-  Go to http://localhost:5000/locations
-  Edit the location using the UI
-  LocationType is showing the location_type: 1 as expected

<img width="1680" alt="Screenshot 2019-11-30 at 20 37 55" src="https://user-images.githubuserc

[2019-11-30 20:51] JoaoFernandesVale commented on #332
@maebeale this is also working for me.
Although the error is quite vague and does not say what is the field that needs to be populated.

Perhaps this issue could be closed and a new one created to improve  these errors.

[2019-11-30 21:35] Joao-Quaresma opened #399 "/requesters/new not showing the correct errors"
When a all required fields are populated and one of them has incorrect data the form shows an email error instead of the correct errors.

This is happening due to
_https://github.com/rubyforgood/voices-of-consent/blob/71e627f0a324084bf43b32084712ba1b319cf7b4/app/javascript/src/components/box-request-form/BoxRequestForm.js#L245_

Replicate steps:
- Go to http://localhost:5000/requesters/new
- Popul

[2019-11-30 21:38] maebeale commented on #399
THANK YOU, @Joao-Quaresma !

[2019-12-01 03:33] maebeale commented on #358
Looks like we're good on this one! Yes, definitely need some validations on the model.

[2019-12-01 18:37] MatthewBosek commented on #399
Can I get to work on this one please? :D

[2019-12-01 18:39] maebeale commented on #399
Sure can, @MatthewBosek !

[2019-12-05 00:57] jeduardo824 commented on #270
@neymarsabin Are you working on this one? I can assume.

[2019-12-07 20:37] oconnelc commented on #20
I'm trying to get my dev setup and have performed the following steps:

# Installed the following software
- ruby 2.6
- node 10+
- yarn 1.16+
- bundler 2+
# Ran the following commands
Running docker desktop by running the following command:
`docker-compose up -d`
and verified that it running by running the command:
`docker-compose ps`

Which gives me the output:
![image](https://user-images.github

[2019-12-07 20:49] oconnelc commented on #20
Ok I got a little bit further. I updated the docker-compose.yml so that instead of localhost it's just 5432:5432 for the ports. I also updated the database.yml file in config to point to the docker desktop IP and it looks like it is connecting.

However it's now failing with this error:
`rake dev:setup`

[code]

Where username is the name on the machine I'm using.

[2019-12-08 19:13] MatthewBosek commented on #399
Hey just want to give a quick update.  The log correctly captures the error, but functionality does not reflect.  Continuing to investigate.
![PostSendClick](https://user-images.githubusercontent.com/53198399/70394633-dd947580-19c4-11ea-8edc-dc204a686db4.PNG)

[2019-12-08 19:17] oconnelc commented on #20
The lesson here is to make sure you read all warnings and errors.

When I ran the docker compose to build the containers, including the database, I was getting the following error:

`WARNING: The USER variable is not set. Defaulting to a blank string.`

The docker desktop was not setting the USER environment variable, so the role was not being created in the DB. I ended up manually setting it to t

[2019-12-08 19:54] oconnelc commented on #20
I've gotten up to the heroku command and I'm getting the following error:

[code]

I'm confused as to what could be causing this problem. If I run the commands with the Procfile.dev individually, they run without any problem. It seems like it's having problems understanding the command in the Procfile.

Can anyone help me get this to run?

[2019-12-11 12:10] maebeale commented on #20
@oconnelc would you add the USER note as a PR update to the README? There's a gotchas section there. Ideally we'll be adding this Procfile situation to it before too long!

[2019-12-11 12:16] maebeale commented on #20
Working on finding some help, @oconnelc !

[2019-12-12 16:15] h-m-m commented on #20
@oconnelc For your latest comment, I wonder if a script is trying to run "bin/webpack" and something is interpreting the way the MS command prompt would as "bin /webpack" instead of the path to the executable, "bin\webpack"

I've not used the heroku commands on Windows yet. Is there a way to tell them the right way to interpret the Procfile? Does it work if you edit the Procfile commands?

[2019-12-12 23:59] #392 closed

[2019-12-17 19:31] smoline commented on #354
I would like to work on this one @maebeale, and I have a question about it.
Do we need the option to put more than one chapstick, for instance, into the Box? Currently we show multiple of the same item in the mocks, but box_items does not have a "count" of the item in the table.
This next question should be a separate issue, but would be an easy fix with this issue...
core_box_items are being adde

[2019-12-17 23:23] maebeale commented on #354
THANK YOU, @smoline !!!

Yes, the idea was to allow for more than one of any given item (there are +/- buttons). We could implement it with a quantity column (probably simplest), or by not having uniqueness on box_item and making the form count totals. I like the quantity column option -- if you do?

YES on core_box_items! They should be creating box_items that display so all the designer really h

[2019-12-19 15:03] smoline opened #401 "BoxDesign React component should show inventory items from Box.box_items"
Make app/javascript/src/components/box-design-form/BoxDesignForm.jsx pull in items that have already been automatically added (from core_box_items) to the box when it was originally created (these will be pulled from box.box_items) so the designer knows which items were already added, in a similar vein to #354

The box.box_items that were added should also remove those items from the selection lis

[2019-12-19 15:04] smoline commented on #401
I would like to work on this one @maebeale

[2020-02-12 13:59] sarslanoglu commented on #246
@OskrNav Are you still working on this one?

[2020-02-12 21:00] maebeale commented on #246
@sarslanoglu are you willing to take this one on? i'll unassign @OskrNav. (@OskrNav hope to see you contributing in the future! best and thank you for your interest last fall!)

[2020-02-12 21:01] maebeale commented on #20
@oconnelc hello! were you able to make it past the above blocks?

[2020-02-12 21:02] maebeale commented on #56
hello, @RachelWyatt ! hope you are well! are you still planning to work on this?

[2020-02-12 21:03] maebeale commented on #107
hello, @mirandawang!!! hope this message finds you doing well! are you planning to work on this issue?

[2020-02-12 21:04] maebeale commented on #141
hello, @gabezurita  ! hope you are well! are you still planning to work on this?

[2020-02-12 21:07] maebeale commented on #159
@sarslanoglu, hello! what's the latest on this issue?

[2020-02-12 21:08] maebeale commented on #263
@z3ugma hello ! hope you are well! are you still planning to work on this?

[2020-02-12 21:08] maebeale commented on #282
@cassianoblonski hello! are you still planning to work on this?

[2020-02-12 21:09] maebeale commented on #306
@laser-shark hello there! are you still planning to work on this?

[2020-02-12 21:11] maebeale commented on #310
@leosoaivan hello there! are you still planning to work on this?

[2020-02-12 21:14] #332 closed

[2020-02-12 21:14] maebeale commented on #332
@Joao-Quaresma thank you for confirming the above!

[2020-02-12 21:15] maebeale commented on #346
@bransynluther hey buddy! we're getting rolling on voices of consent again. you still in for tackling this issue?

[2020-02-12 21:17] maebeale commented on #352
@botanical hello there! were you still planning to submit a PR for this?

[2020-02-12 21:17] #358 closed

[2020-02-12 21:21] maebeale opened #403 "Add validations to Locations model"
Add validations in the model to make sure that :name and :location_type fields are present before saving

[2020-02-12 21:22] maebeale commented on #391
@bransynluther hey there! we're doing a hack night tomorrow eve for this (https://www.meetup.com/Code-for-Good-DC/events/268436980/), so we're going through all issues to check in with folks. you around to get back in to voices of consent mode?

[2020-02-12 21:23] maebeale commented on #399
@MatthewBosek hello there! any updates on this issue? do you plan to still work on it?

[2020-02-12 21:39] #354 closed

[2020-02-12 21:42] #401 closed

[2020-02-12 22:32] maebeale opened #406 "Add research_in_progress scope to BoxRequest"
(this page should load: http://localhost:9000/box_requests?utf8=%E2%9C%93&filter_by=research_in_progress, accessed when viewing Status, and filtering on ResearchInProgress

[2020-02-12 22:32] maebeale opened #407 "Add `researched` scope to BoxRequest"
(this page should load: http://localhost:9000/box_requests?utf8=%E2%9C%93&filter_by=researched, accessed when viewing Status, and filtering on Researched

[2020-02-12 22:34] maebeale opened #409 "Add `followup_in_progress` scope to BoxRequest and to dropdown in BoxRequests index UI"
(this page should load: http://localhost:9000/box_requests?utf8=%E2%9C%93&filter_by=followup_in_progress, accessed when viewing Status, and filtering on Followup In Progress

[2020-02-12 22:34] maebeale opened #410 "Add `followed_up` to scope in box_request.rb and in dropdown on BoxRequests index UI"
(this page should load: http://localhost:9000/box_requests?utf8=%E2%9C%93&filter_by=followed_up, accessed when viewing Status, and filtering on Followed Up

[2020-02-12 22:36] maebeale opened #411 "Add Research button to navbar (use placeholder image for now)"

[2020-02-12 22:39] h-m-m commented on #327
I have a slight preference for Circle CI because other Ruby for Good projects have tried using it. That said, if Gitlab CI is easier for you to set up, I'm for it!

[2020-02-12 22:48] maebeale commented on #326
Add `permission_name` as one of the fields that can be imported in the volunteer importer, per `volunteer.rb`
https://github.com/rubyforgood/voices-of-consent/blob/develop/app/models/volunteer.rb

[2020-02-12 22:52] maebeale commented on #372
@amygori hey there! hope all's well!!! we've got a hack night meetup tomorrow eve to help with this project, and this might end up on the radar to tackle -- unless you might have time for this issue within the next week or two?

[2020-02-13 00:15] leosoaivan commented on #310
Hi @maebeale thanks for checking in, and my apologies for dropping off the face of the Earth.

Aside from the user factories in #374 , I've had some trouble getting these other ones going. I don't have much bandwidth to currently tackle them, so it may be worth unassigning me.

[2020-02-13 00:17] maebeale commented on #310
Thanks, @leosoaivan ! I took a hiatus on this one too. :) Ok, I'll remove you here, but would love it if we could help you get things working again -- if you want to get involved again, that is! You're in slack, right? Maybe post something there? We're having a hack night tomorrow, so there will be some help available 7pm-9pm EST. https://www.meetup.com/Code-for-Good-DC/events/268436980/

[2020-02-13 07:25] sarslanoglu commented on #159
@maebeale Omg completely forgot this issue, working on it asap. It will be ready to review tomorrow

[2020-02-13 07:26] sarslanoglu commented on #246
@maebeale You can assign me, after #159 I can work on this one

[2020-02-13 07:29] maebeale commented on #246
@sarslanoglu many thanks!!!

[2020-02-13 14:21] bransynluther commented on #346
No, but I certainly can be!

[2020-02-13 15:41] #403 closed

[2020-02-13 23:22] gabezurita commented on #141
Hi @maebeale, thanks for calling me out! I've been slammed with work and haven't had much time outside of it, but I'll be on vacation next week! I'll try to find a day to work on it then.

[2020-02-14 00:59] abudri commented on #411
@maebeale can I grab this issue?

[2020-02-14 01:05] joyrm commented on #406
@maebeale Can you assign this to me?

[2020-02-14 01:10] maebeale opened #412 "BoxDesign should create BoxItems on save"

[2020-02-15 17:37] oconnelc commented on #20
Sorry for the delayed response. I got pulled onto something else and got a new laptop. I'm trying to set it up now.

One other thing is that the README says to use Ruby 2.6.0 but when I try that I get an error saying that 2.6.3 is the version to use.

[2020-02-15 18:06] oconnelc commented on #20
Ok now I'm stuck at the initial setup for the App. I've installed Ruby 2.6.5 from https://rubyinstaller.org/downloads/ and that installs a bundler at version 1.17.2. I run:

`gem install bundle`

and get the following output:
[code]

But when I try to run `bundle install` I get the following output:
[code]
Does anyone know how to resolve this?

[2020-02-15 18:28] h-m-m commented on #20
Yes. Feel free to edit the Gemfile to say `ruby '2.6.5'`. The version difference is small enough that it should make no difference for this project. Enough other contributors this week have had trouble with this error that I think the version bump will save more headaches than it has caused

[2020-02-15 21:01] oconnelc commented on #20
Ok so here's where I'm at:

1. I was able to get the DB and related docker containers deployed and running, after setting the environment variable $USER to match the role that's used in the code. It also looks like the code that's responsible for connecting to the DB is correctly pulling the username, so it looks like there could be a potential of a mismatch.
2. Per @h-m-m 's recommendation, I upd

[2020-02-15 21:30] oconnelc commented on #20
Running by hand seems to have started everything. For the rails server, I see:

[code]
For the webpack, I'm seeing:
[code]

When I go to http://localhost:3035, I see the following message in the browser:
`Cannot GET /`

Is there an index? Am I in a broken state? Are there other views?

[2020-02-17 04:29] h-m-m commented on #20
You're connecting to the webpack developer server (wds), not the Rails server. Several other people were also confused by this on Thursday.

If you scroll a little further back, you should see a line that indicates the web service which runs Rails is listening on port 5000 instead of 3035

[2020-02-18 19:31] maebeale opened #418 "Change navbar button links to use rails' `link_to` vs href's"

[2020-02-18 21:16] #407 closed

[2020-02-19 19:53] #406 closed

[2020-02-20 23:58] oconnelc commented on #20
OK sorry for not getting to this sooner and for having some many problems (on my end) with the setup. I was able to get the application to run and I was able to login with the debug account.

So now I'm having some weird problems. Clicking on the following buttons at the top caused the following pages to load:

- Status -> http://localhost:3000/box_requests
- Review -> http://localhost:3000/
- Des

[2020-02-21 00:05] h-m-m commented on #20
Thank you for the work you've done with our setup process. It definitely can use some care and attention. The problems you had setting it up has helped us shine some light on where it's weakest, so I appreciate that.

The behavior you're seeing is a known issue. It should be fixed by https://github.com/rubyforgood/voices-of-consent/pull/414

[2020-02-21 00:07] h-m-m commented on #327
I'm going to try and make some progress on this over the weekend. I'll let you know how it goes.

It would certainly help me feel more confident when merging in pull requests

[2020-02-21 00:30] oconnelc commented on #20
I pulled down the fix for #414 and was getting the following error when filtering by research_in_progress and researched

http://localhost:3000/box_requests?utf8=%E2%9C%93&filter_by=research_in_progress
http://localhost:3000/box_requests?utf8=%E2%9C%93&filter_by=researched

![image](https://user-images.githubusercontent.com/1112973/74992846-46fa2100-5417-11ea-8da8-64a7b78bea5c.png)

[2020-02-21 01:44] maebeale commented on #20
Hey there, @oconnelc ! You definitely get the marathon award! Way to stay with it!!! And thank you! #414 was part of it, but there were a couple other issues that is in the process of fixing this as well. We had to had the scopes to box request so they could be filtered by subsequent box status.

[2020-02-21 01:47] maebeale commented on #327
YESSS! Thanks, @h-m-m !!!

[2020-02-22 16:41] RachelWyatt commented on #56
@maebeale thanks for checking in! Sorry I've been absent for so long! I want to get back on board with this but it's been so long since I've looked at the db and permissions this is probably a ways off for me. I'm going to see what I can do with FactoryBot and seed data to get myself re-acquainted with what's going on

[2020-02-22 16:54] maebeale commented on #56
Sounds great, @RachelWyatt ! Hi!!!

[2020-02-22 17:34] RachelWyatt commented on #310
I can work on setting up traits for boxes!

[2020-02-22 19:10] oconnelc commented on #20
How can I see this functionality on the app? Is it under one of the tabs? If so, which one?

What is a good way to populate the local DB so that I can test this capability?

[2020-02-22 20:25] oconnelc commented on #20
Disregard my question about populating the DB. Also I think I found the BoxAssembly stuff, so I can start working on it.

[2020-02-22 22:06] oconnelc commented on #20
I have some questions about the requirements for this issue:

1. ```Assembler marks the "Toothbrush" to indicate they've put it in the Box``` What does it mean to mark toothbrush? On my screen I see:
![image](https://user-images.githubusercontent.com/1112973/75099793-c280dd00-5593-11ea-8503-5bc5fdbb8b0d.png)
Is marking changing the item count?

1. ```Determine the Assembler's Location (select the

[2020-02-23 02:51] edwinthinks commented on #410
I can take a swing at this :)

[2020-02-23 03:01] edwinthinks commented on #410
https://github.com/rubyforgood/voices-of-consent/pull/421 should address this :).

I'll also try #409 as well as it is very similar to this one

[2020-02-23 03:08] edwinthinks commented on #409
Opened https://github.com/rubyforgood/voices-of-consent/pull/422 to address this :). Hope it works!

[2020-02-23 18:44] bransynluther commented on #391
WOOOOHOOOOO!!!!! Let's get back to business, this is now back in progress!

[2020-02-23 18:52] maebeale commented on #391
Love it, @bransynluther !!!

[2020-02-24 00:11] maebeale commented on #20
1. Hello! I think that pic indicates box design page. There should show a checkbox?  Are you at the /box_assembly endpoint?

2. You're right! It's not on user, though adding a user-location join table later will prob be a good idea. `assembly_location_id` should be an FK on box? Would be cool to have a dropdown on the page that sends an ajax update to the box so when the items are checked they can

[2020-02-24 15:34] sarslanoglu commented on #246
@maebeale Couldn't find the button can you tell me how can I see on page?

[2020-02-24 16:45] maebeale commented on #246
Hello @sarslanoglu ! This is at `/requesters/new`. Thanks for your help!

[2020-02-24 20:27] zachhweed commented on #311
I'll pick this up following the PR on #310

[2020-02-26 18:50] maebeale opened #423 "Change text of button on Users index"
Change "Invite" button text to "Invite a new User"

[2020-02-26 18:52] maebeale opened #424 "Add padding on Users index above and below button, and at bottom of page"
Without the padding, it looks like you're not able to scroll to see the whole list/page

[2020-02-26 18:53] maebeale opened #425 "Add edit buttons to Users index"
Add edit buttons (with pencil icon) to left of user emails on Users index that to to that User's rails edit page.
This page should only be viewable to people with MANAGE_USERS permission.

[2020-02-26 18:55] maebeale opened #426 "Make sure "invited and accepted" header is populating on Users index"
In prod this column is completely empty. Please check that invited && accepted is displaying correctly and fix if necessary.

[2020-02-26 21:21] #327 closed

[2020-02-26 22:05] maebeale opened #427 "Add end-to-end test for logged in vs logged out navbar display"
"add a test for each of the non-logged in, logged in without admin, and logged in as admin behavior? I'm thinking a test to make sure the request works end-to-end would be enough, as that would work as a regression test for what @oconnelc found"
See this thread: https://github.com/rubyforgood/voices-of-consent/pull/414#issuecomment-591651980

[2020-02-26 22:07] maebeale opened #428 "Get the tests green again"
We didn't yet have circleci and our test suite got in the red. Would LOVE help to get us green again!

[2020-02-29 22:12] oconnelc commented on #20
@maebeale the problem I'm running into is that I can't seem to get a box into the "Box Assembly" state. For example with this box; http://localhost:3000/box_design/40 I get the following output:

![image](https://user-images.githubusercontent.com/1112973/75615769-6a5b5500-5b16-11ea-8e3d-c6fee7d827c5.png)
Clicking on the "The box is ready to go" does nothing.

However I was able to get to the BoxAs

[2020-02-29 22:19] maebeale commented on #20
@oconnelc hello! correct, the button doesn't work yet. i'm working on that issue currently.
to get past box_design, go to this endpoint: http://localhost:3000/box_assembly/40/complete, and then you'll be at the assembly step, where what we want is for when you click the checkbox, it'll create an InventoryAdjustment to deprecate the quantities of that inventory_item. (you'll need to make an assumpt

[2020-02-29 23:08] oconnelc commented on #20
Ok I think I'm finally starting to understand this.

To create an InventoryAdjustment, I should call on the InventoryAdjustment endpoint new, to create a new one, and then make the update on client side and push an update.

The following still confuses me:

1. How do the methods in the controller classes get identified as GET or POST?

1. How does the InventoryAdjustment update the inventory? I di

[2020-02-29 23:54] maebeale commented on #20
Hello there, @oconnelc . Yup! Exactly. It should be an adjustment_quantity of -1.

1. These are Rails conventions as to get/post. If you visit `/rails/info/routes` it'll show that part
2.  The InventoryAdjustment *is* the db update. So, the `inventory_tally` is the original declaration of: "I've got 5 toothbrushes is storage_location #5." And subsequent InventoryAdjustments will change that number

[2020-02-29 23:56] maebeale commented on #20
@oconnelc there's room for your suggestion re whether these adjustments should *only* be created when the button at the bottom is clicked, or upon checking the checkbox. My vote is the checkbox, but there would need to be an opposite adjustment created when UNchecking the box... This can be a separate issue, or folded in to this one -- whatever you recommend!

[2020-03-01 01:25] oconnelc commented on #20
@maebeale thank you for the response. That makes sense. I was able to pull down a location that is a storage_unit. I'm trying to figure out how create the InventoryAdjustment. I think I need to call the create endpoint with the following parameters:

- box_item_id: equal to the item.id
- adjustment_quantity: -1 or 1, depending on the checkbox state

How is the location used? Am I supposed to creat

[2020-03-01 01:42] maebeale commented on #20
@oconnelc hey there!

re `box_item_id: equal to the item.id`: BoxItem is its own model, so, you should have a Box with several BoxItems (that's what's being checked off). A BoxItem has a box_id and an inventory_type_id (and a quantity), connecting the InventoryType (e.g. toothbrush, to a specific Box).

In production, the data would already have InventoryTallies for each InventoryType of all the B

[2020-03-01 01:44] maebeale opened #429 "Add callback to Location so relevant InventoryTallies get created on create"
We'd like an after_create model callback on Location (only relevant to StorageLocations) so an InventoryTally is created for that Location for every existing InventoryType in the database at a quantity of 0. This is so there's an initial ledger entry for the quantity of a specific kind of item the organization has at that Location.

[2020-03-01 15:34] sarslanoglu commented on #427
@maebeale Fixed by this [commit](https://github.com/rubyforgood/voices-of-consent/pull/414/commits/55e6381c288f9946952886c657287bd55af333c3) in pr #414

[2020-03-01 15:35] sarslanoglu commented on #428
I would love to help on this one!

[2020-03-01 15:43] maebeale commented on #428
Woo hoo!

[2020-03-01 15:45] maebeale commented on #427
@sarslanoglu Ah! Ok! I've been travelling, so can reply to the questions, but haven't been able to review PR's. Will do some today. Thanks!

[2020-03-01 16:11] maebeale commented on #428
Would love to wait for this before approving the circleci PR from @h-m-m . Thanks so much @sarslanoglu !

[2020-03-01 16:22] sarslanoglu commented on #428
@maebeale I think @h-m-m merged his pr #420 in to develop. I can start working on it tomorrow

[2020-03-10 01:04] #411 closed

[2020-03-10 01:06] #418 closed

[2020-03-10 01:07] #410 closed

[2020-03-10 01:09] #409 closed

[2020-03-10 14:28] mikeg1440 commented on #426
Hi I'm taking a look at this bug and just had a couple questions.  I see the current code looks like this
[code]
I was just wondering what the desired result would be if the invitation has not been sent yet, because right now it will just be blank.  Removing the if statement allows this to display false if invitation has not been sent but I just want to make sure that is the desired result before

[2020-03-10 15:01] maebeale commented on #426
Thank you! I think rather than removing the `if`, my vote would be to add an `else` that says "not invited" or something. What would you expect to see here?

[2020-03-11 13:42] #423 closed

[2020-03-13 23:05] RachelWyatt commented on #425
Hi @maebeale, is this for ```/user_management``` (screenshot below)?

<img width="1103" alt="Screen Shot 2020-03-13 at 6 54 52 PM" src="https://user-images.githubusercontent.com/37967627/76665052-d1d4c400-655c-11ea-9b7c-fbcf0d18739b.png">

If so, a couple of questions:
1. The screenshotted page is in the code as a ```show``` page but I think is really acting as more of an ```index page```. Is ther

[2020-03-17 15:56] smoline commented on #429
@maebeale, are you looking for the inventory_tally only on the storage_unit location_type or on more location_types? Like not on video_chat_link, but on physical places?
[code]

[2020-03-17 17:03] maebeale commented on #429
Hello there! THANKS for checking on this. I think only on storage_unit
right now. Do you agree?

On Tue, Mar 17, 2020 at 11:56 AM Sherilyn Moline <notifications@github.com>
wrote:

[2020-03-18 23:57] #428 closed

[2020-03-18 23:57] maebeale commented on #428
Thanks for the offer, @sarslanoglu ! We were able to get tests green again. :)

[2020-03-19 00:15] RachelWyatt commented on #425
For this PR I'm:
- Adding ```users_management/edit```page and route to allow a user with the MANAGE_USERS permission to edit other users' permissions. User with MANAGE_USERS permission should be able to add or delete all permissions for each user.
- This will not be the place for editing a User's name, e-mail, etc., or deleting a user. That functionality should live in ```Users``` and ```User_mana

[2020-03-19 00:25] jenstrickland opened #434 "[A11Y] Account link dropdown toggle MUST have contrast ratio of at least 4.5:1"
# Severity: Serious - WCAG 2.0 (AA): MUST

## Description

The Account dropdown link color is #007bff on a background of #eeeeee, which has an insufficient color contrast ratio of 3.42:1. In order to meet WCAG 2.0 AA, color contrast **MUST** be a minimum of 4.5:1.

![Screen Shot 2020-03-18 at 7 52 41 PM](https://user-images.githubusercontent.com/57469/77017912-1fcd3b80-6952-11ea-82b0-64300b8357fb.

[2020-03-19 00:59] abudri opened #435 "Update background.md with more details on User and Volunteer models"
providing more explanatory details on the Volunteer and User models in the Design Notes portion of background.md

[2020-03-19 01:09] #427 closed

[2020-03-19 01:15] maebeale opened #437 "@sarslanoglu should this be `@box_requests = @box_requests.where...` ?"
@sarslanoglu should this be `@box_requests = @box_requests.where...` ?

_Originally posted by @maebeale in https://github.com/rubyforgood/voices-of-consent/pull/414_

[2020-03-19 01:16] maebeale commented on #437
![Screen Shot 2020-03-18 at 9 16 04 PM](https://user-images.githubusercontent.com/7607813/77021662-c10dbf00-695d-11ea-9195-3ac2c0c457ff.png)

[2020-03-19 01:19] jenstrickland opened #438 "[ALLY]: Links SHOULD have styling to distinguish different states"
# Severity:

**Feedback Framework**
[code]

## Description

Links **SHOULD** have styling to distinguish from surrounding text and to signal different states.

WCAG 2.0 has 2 additional requirements for body text links that are not underlined by default:
- The link text must have a 3:1 contrast ratio from the surrounding non-link text.
- The link must present a "non-color designator" (typically th

[2020-03-19 01:27] jenstrickland opened #440 "[ALLY]: <html> element MUST have a lang attribute"
# Severity: Serious — WCAG 2.0 (A): MUST

**Feedback Framework**
[code]

## Description
The HTML document element **MUST** contain a valid lang attribute or must correspond to a valid lang code for multilingual screen reader users who may prefer a language other than the default.

## Disabilities Affected

-  Blind
-  Deafblind
-  Cognitive

## Potential fix

Add a lang attribute to the html eleme

[2020-03-19 01:34] jenstrickland opened #441 "[A11Y]: Document SHOULD have one main landmark"
# Severity: Moderate — Best practice

**Feedback Framework**
[code]

## Description

Ensure there is a navigation point to the primary content of the page. If the page contains iframe elements, each iframe should contain either no main landmarks or just one.

Ensure all content is contained within a landmark region, designated with HTML5 landmark elements and/or ARIA landmark regions.

It is a bes

[2020-03-19 01:36] #159 closed

[2020-03-19 01:39] jenstrickland opened #442 "[A11Y]: All page content MUST be contained by landmarks"
# Severity: Moderate — Best Practice

**Feedback Framework**
[code]

## Description

It is best practice to contain all content excepting skip links, within distinct regions such as the header, nav, main, and footer.

## Disabilities Affected
-  Blind
-  Deafblind
-  Mobility

## Potential fix

Ensure all content is contained within a landmark region, designated with HTML5 landmark elements and/or

[2020-03-19 01:39] #435 closed

[2020-03-19 01:48] jenstrickland opened #443 "[A11Y]: Images MUST have alternate text - Homepage banner image"
# Severity: Critical — Section 508: MUST; WCAG 2.0 (A): MUST

**Feedback Framework**
[code]

## Description

All images **MUST** have alternate text to convey their purpose and meaning to screen reader users.

## Disabilities Affected
-  Blind
-  Deafblind

## Potential fix

Ensure all informative `<img>` elements have short, descriptive alternate text and all decorative `<img>` elements have empt

[2020-03-23 17:40] DouglasLutz commented on #429
Is someone working on this? If not I would like to do it.

[2020-03-23 17:46] maebeale commented on #429
@DouglasLutz hello! will check
(@smoline hi! did you want to be assigned to this?)

[2020-03-26 16:08] #426 closed

[2020-03-31 16:00] #424 closed

[2020-04-02 01:29] renatamarques97 commented on #282
@maebeale can you give more details about the dashboard?
Does it have to be on home page? or home/administration?

[2020-04-02 02:06] maebeale commented on #282
@renatamarques97 thanks for asking about this! totally open to suggestions, but i was envisioning it'd be its own endpoint.

the following is speculative -- feedback/suggestions welcomed!

but, just to offer some more context of the current thinking, users for this page might be:
* shoppers for a specific storage location asking:
- how many toothbrushes do we have?
- how many toothbrushes should i

[2020-04-02 02:12] renatamarques97 commented on #282
Okay, so, thinking about stakeholders, it would be better if the dashboard was on the home page, right?

[2020-04-02 02:19] maebeale commented on #282
Hey, @renatamarques97 they'll need a link to it from the admin, yeah. This is the "inventory dashboard", so, only relevant to peeps who are doing purchases and need to know if all the needed supplies are there.

[2020-04-02 11:32] maebeale opened #454 "After creating a new inventory_type, we should get a new inventory tally at all storage locations"
There is now a callback on location to create inventory_tallies for all inventory_types after create.

Following the same pattern, we need an after_create callback on inventory_type to create tallies on all locations that are storage units.

[2020-04-02 14:35] #429 closed

[2020-04-07 22:19] Tanzi11 commented on #264
Hi Mae, I can help with this!

[2020-04-07 22:19] Tanzi11 commented on #264
@maebeale this is where I think I can help :)

[2020-04-07 22:27] maebeale commented on #264
@Tanzi11 WOO HOOOO!!! happy to chat/talk/zoom whatever about this as needed.

[2020-04-07 22:29] maebeale commented on #264
@seanmarcia and others have done some work on the BoxDesign feature, so feel free to check out that issue/thread/code and/or we'd love feedback back on how you solve this so we can apply backward

Here's some work in progress that might be useful to check out: https://github.com/cndreisbach/voices-of-consent/tree/box-design-form

[2020-05-02 16:46] oconnelc commented on #20
Sorry it's been so long since my last update. I'm hoping I should have some time this weekend and into this week to continue working.

The ticket started with selecting the first storage unit location and show it on the top of the screen. I have that working. However it appears that there is only InventoryTally in my DB and that's for a university. Should I create the Tally if it doesn't exist for

[2020-05-02 17:08] maebeale commented on #20
@oconnelc no worries!!! A lot of us are a little longer in our cycles than usual. :)

Hmmm. Technically I think they should get an error saying they'll need to "restock" or something.

But maybe for now create a tally at quantity 0 and the adjustment should go to -1 ???

Or maybe we just make seeds for a storage location now, and make another issue re prompting the user to review storage location

[2020-05-03 20:04] oconnelc commented on #20
I went ahead and made the change that it will go out and try to get an Inventory Tally. Right now if it doesn't find one for the location, the check box won't change state. Let me know if there's anything else you'd like me to do for this ticket.

[2020-05-03 20:16] maebeale commented on #20
Perfect! Yeah, I think this is great @oconnelc .

And when the Assembler clicks a button at the bottom "Complete" (or something like that), that's when it'll create the InventoryAdjustments against the InventoryTallies it found?

[2020-05-04 01:21] oconnelc commented on #20
Actually the way I have it now is thae InventoryAdjustments get created whenever the checkboxes are clicked. I can submit an update tomorrow to add the Complete button and it's functionality.

[2020-05-04 02:23] maebeale commented on #20
I realized that after looking at it in more depth.

Probably what you did is better than an official full POST through a button because Assembler will know in real time if there aren't any more available.

But the button to complete it can trigger the state machine to bring the Box to the next phase in the lifecycle, so we would def still want a button.

[2021-02-16 22:35] jorgedjr21 commented on #29
Hey @maebeale  , I wanna work on this issue, can you assign it to me, please?
I think this is a good issue to my start and know more about the project :)

[2021-02-16 23:08] maebeale commented on #29
You got it, @jorgedjr21 !!!

[2021-03-02 12:31] jorgedjr21 commented on #29
@maebeale The PR is ready to be reviewed